<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.collect.mapper.CollectMapper">


    <!-- 请在此添加自定义方法（开始） -->

    <!-- 请在此添加自定义方法（结束） -->
    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( userid )">
                AND userId = #{userid}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( type )">
                AND type = #{type}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( pathid )">
                AND pathId = #{pathid}
            </if>
        </where>
    </sql>
</mapper>