@CHARSET "UTF-8";


@font-face { 
  font-family: "LabelFont"; 
  src: url("../fonts/COLONNA.eot"); 
  src: url('../fonts/COLONNA.eot?#iefix') format('embedded-opentype'),
       url('../fonts/COLONNA..ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.dataTables_wrapper{
    text-align: center;
}

.dataTables_wrapper th{
    text-align: center;
}

.logLabel{
    color:#ffffff;
    font-size: 30px;
    font-family: "Colonna MT","LabelFont";
    text-align: center;
    margin-left: 20px;
}

.total_tool{
    margin: 5px;
    float: right;
}

.total_tool input, textarea, .uneditable-input{
    width:100px;
}

.detail_tool{
    margin: 5px;
    float: right;
}

.detail_tool input, textarea, .uneditable-input{
    width:100px;
}

#S_quarter{
    width:100px;
    margin: 0px 5px 0px 0px;
}

.dataTables_wrapper .dataTables_length{
    margin: 5px;
}

#indexTitle{
    float: left;
}

.alert{
    padding : 8px;
    margin-top: 15px;
    margin-bottom: 0px;
    float:right;
    width: 800px;
}

p {
    margin:0px;
}

