body {
	background: #F5F5F5;
}

.panel {
  border: 1px solid #3598DB;
}
.ibox-content h1, .ibox-content h2, .ibox-content h3, .ibox-content h4, .ibox-content h5, .ibox-title h1, .ibox-title h2, .ibox-title h3, .ibox-title h4, .ibox-title h5 {
	margin-top: 7px;
	font-weight: 400;
}
.panel-default > .panel-heading{
  background: #3598DB;
  border-color: #3598db;
  color: #fff;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
}
.icon-jinru {
	color: #fff;
	font-size: 20px;
	display: block;
	margin-top: -2px;
	font-weight: 500;
}
.icon-jinru:hover{
	color: #fff;
}

