<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.like.mapper.CircleLikeMapper">


    <!-- 请在此添加自定义方法（开始） -->

    <!-- 请在此添加自定义方法（结束） -->
    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( circleId )">
                AND circle_id = #{circleId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( userId )">
                AND user_id = #{userId}
            </if>
        </where>
    </sql>
    <delete id="deleteByUserIdAndCircleId">
        DELETE FROM circle_like
        WHERE
            user_id = #{userId} AND circle_id = #{circleId}
    </delete>
</mapper>