<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.ontheroad.web,com.ontheroad.controller"/>

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json;charset=UTF-8"/>
                <property name="features">
                    <util:list>
                        <value>WriteDateUseDateFormat</value>
                    </util:list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <mvc:default-servlet-handler/>
    
    <mvc:interceptors>
            <!-- 可配置多个 -->
           <!--  mvc:mapping 拦截所有的请求
            mvc:exclude-mapping 这些请求不拦截 -->
            <mvc:interceptor>
                <mvc:mapping path="/**"/>  
                <mvc:exclude-mapping path="/view/**" />
                <mvc:exclude-mapping path="/static/**" />
                <mvc:exclude-mapping path="/user/login" />
                <mvc:exclude-mapping path="/admin/login" />
                <mvc:exclude-mapping path="/user/logOut" />
                <mvc:exclude-mapping path="/getTbNewsinformationId" />
               <mvc:exclude-mapping path="/admin/main/indexInfo" />
                <bean class="com.ontheroad.web.filter.AdminLoginFilter" />
            </mvc:interceptor>
    </mvc:interceptors>
    
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/**"/>
            <bean class="com.ontheroad.web.interceptor.OpLogInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

	 <bean id="htmlviewResolver"  
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
        <property name="viewClass" value="com.ontheroad.core.util.HtmlResourceView"/>
        <property name="order" value="0" />
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".html" />  
        <property name="contentType" value="application/json;charset=UTF-8"></property>  
    </bean>

	<!-- All views are JSPs loaded from /WEB-INF/views -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>
    
    <bean id="exceptionResolver" class="com.ontheroad.exception.DefaultExceptionResolver"/>
	<mvc:resources mapping="/view/**" location="/view/"/>
    <!--<aop:config proxy-target-class="true">-->
        <!--<aop:pointcut id="controllerMethodPointcut" expression="execution(* com.ontheroad.controller..*(..)) and @annotation(org.springframework.web.bind.annotation.RequestMapping)"/>-->
        <!--<aop:advisor advice-ref="validateInterceptor" pointcut-ref="controllerMethodPointcut" />-->
    <!--</aop:config>-->
</beans>
