@charset "utf-8";
.index_header{}
.index_header .container{width: 100%; height: 270px; background: #584f60; position: relative; text-align: center;}
.index_header .canvas{margin: 0 auto; background: url(../img/index_header_bg.jpg) no-repeat center 8px; background-size: 91% auto; pointer-events: none;}
.index_header .num_box{position: absolute; top: 20px; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); color: #fff; display: block; width: 240px;}
.index_header .num_box h6{font-size: 12px; line-height: 72px; font-weight: normal;}
.index_header .num_box h2{font-size: 60px; font-weight: normal; line-height: 40px;}
.index_header .num_box p{font-size: 11px; margin-top: 22px;}
.index_header .num_box span{font-size: 10px; color: #c5c5c5; display: block; margin-top: 6px;}
.index_header .detail{margin-top: -40px;}
.index_header .detail ul{height: 20px; width: 200px; text-align: center; margin: 0 auto;}
.index_header .detail li{float: left; width: 50%; color: #fff;}
.index_header .detail li i{display: inline-block; width: 10px; height: 10px;}
.index_header .detail li.sg i{background: url(../img/sg_icon.png) no-repeat center; background-size: 10px auto;}
.index_header .detail li.tz i{background: url(../img/tz_icon.png) no-repeat center; background-size: 10px auto;}
.index_header .detail li span{font-size: 15px; color: #ffc742; font-weight: bold;}
.index_header .detail li b{font-size: 10px;}
.index_header .task{padding-top: 10px;}
.index_header .task p{display: inline-block; background-color: #432f54; color: #fff; height: 28px; line-height: 28px; font-size: 11px; padding: 0 15px; border-radius: 28px;}
.index_header .task p i{display: inline-block; background: url(../img/task_icon.png) no-repeat center; background-size: 14px auto; width: 14px; height: 14px; position: relative; top: 3px; margin-right: 5px;}
.index_content{padding: 10px; background-color: #f4f4f4;}
.index_content .container{}
.index_content .today_early{background-color: #fff;}
.index_content .today_early .top{padding: 10px 8px 5px;}
.index_content .today_early .top a{display: block;}
.index_content .today_early .top i{display: inline-block; width: 27px; height: 30px; background: url(../img/index_ico1.png) no-repeat center; background-size: 27px auto; vertical-align: middle;}
.index_content .today_early .top b{position: relative; top: 2px; font-size: 13px; color: #727272;}
.index_content .today_early .top span{float: right; display: block; background: url(../img/index_ico3.png) no-repeat center; background-size: 18px auto; width: 18px; height: 30px; vertical-align: middle;}
.index_content .swiper-container{padding-bottom: 10px;}
.index_content .swiper-slide{height: 66px; padding: 4px 0;}
.index_content .swiper-slide a{display: block; height: auto; overflow: hidden; position: relative; padding-left: 85px; height: 56px; line-height: 56px; margin: 0 20px; clear: both; color: #595959;}
.index_content .swiper-slide img{width: 77px; height: 56px; border-radius: 3px; position: absolute; left: 0; top: 0;}
.index_content .swiper-slide b{width: 50%; float: left; font-size: 14px; text-align: center;}
.index_content .swiper-pagination{bottom: 5px;}
.index_content .swiper-pagination-bullet{width: 5px; height: 5px; display: inline-block; border-radius: 100%; background: #c7c7c7; opacity: 1; margin: 0 3px !important;}
.index_content .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #00c65c;}
.index_content .now_weigth{background-color: #fff;}
.index_content .now_weigth .top{padding: 10px 8px 5px; position: relative;}
.index_content .now_weigth .top i{position: absolute; display: block; width: 27px; height: 27px; background: url(../img/index_ico2.png) no-repeat center; background-size: 27px auto;}
.index_content .now_weigth .top .text{padding-left: 36px;}
.index_content .now_weigth .top h2{font-size: 13px; color: #727272; line-height: 13px;}
.index_content .now_weigth .top p{font-size: 10px; color: #9d9d9d; line-height: 10px; margin-top: 4px;}
.index_content .now_weigth .content{overflow: hidden;}
.index_content .now_weigth .content p{padding-left: 44px; font-size: 11px; color: #9d9d9d;}
.index_content .now_weigth .content .num{color: #00ba56; font-weight: bold;}
.index_content .now_weigth .content img{display: block; width: 90%; margin: 10px auto 5px;}
.index_content .now_weigth .content h6{float: right; background-color: #ffba00; color: #fff; font-size: 11px; height: 22px; line-height: 22px; border-top-left-radius: 22px; border-bottom-left-radius: 22px; padding: 0 10px; font-weight: normal; margin: 20px 0 15px;}
/*计划*/
.plan_box{}
.plan_list{display: block; position: relative; margin: 15px 10px 0px; color: #fff;}
.plan_list img{width: 100%; border-radius: 5px;}
.plan_list h1,
.plan_list h2,
.plan_list h3,
.plan_list i{left: 10px;}
.plan_list h1{font-size: 18px; position: absolute; top: 8px;}
.plan_list h2{font-size: 12px; position: absolute; top: 35px;}
.plan_list h2 b{display: inline-block; margin-right: 6px;}
.plan_list h3{font-size: 12px; position: absolute; bottom: 60px; background: url(../img/ico_num.png) no-repeat left 0; background-size: 16px 16px; height: 18px; line-height: 18px; padding-left: 22px;}
.plan_list i{display: block; width: 50px; height: 28px; background: url(../img/ico_free.png) no-repeat center; background-size: cover; position: absolute; bottom: 17px;}
.plan_list i.vip{background: url(../img/ico_vip.png) no-repeat center; background-size: cover;}
.plan_list span{display: block; width: 23px; position: absolute; right: 20px; top: 0; bottom: 0; background: #47E072 url(../img/ico_pro2.png) no-repeat center; background-size: 30px 106px; display: none;}
.plan_list.on span{display: block;}
.plan_list span:before{content: ""; width: 31px; height: 8px; background: url(../img/ico_pro1.png) no-repeat; background-size: cover; position: absolute; top: -8px; right: -8px;}
.plan_list span:after{content: ""; width: 31px; height: 8px; background: url(../img/ico_pro3.png) no-repeat; background-size: cover; position: absolute; bottom: -8px; right: -8px;}
/*发现*/
.text_1{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.text_2{display: -webkit-box; overflow: hidden; width: 100%; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.text_3{display: -webkit-box; overflow: hidden; width: 100%; word-break: break-all; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.discovery_box{margin: 10px;}
.discovery_img{display: block; margin-bottom: 10px; background: #fff; border-radius: 3px; overflow: hidden; height: auto;}
.discovery_img img{width: 100%;}
.discovery_img p{position: relative; padding-right: 60px; line-height: 36px; color: #686868;}
.discovery_img p i{position: absolute; right: 5px; top: 0; background: url(../img/ico_pp.png) no-repeat right 7px; background-size: 18px 18px; padding-right: 22px; line-height: 35px; font-size: 13px;}
.discovery_img p b{display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 5px; font-size: 13px;}
.discovery_test{display: block; background: #fff; padding: 22px 20px 22px 95px; position: relative; margin-bottom: 10px; border-radius: 3px; color: #818181;}
.discovery_test h2{font-size: 16px; margin-bottom: 10px;}
.discovery_test p{color: #9A9A9A; display: -webkit-box; overflow: hidden; width: 100%; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.discovery_test i{display: block; width: 56px; height: 56px; position: absolute; left: 20px; top: 25px;}
.discovery_test i.dis_t1{background: url(../img/ico_sm.png) no-repeat center; background-size: cover;}
.discovery_test i.dis_t2{background: url(../img/ico_tz.png) no-repeat center; background-size: cover;}
/*食谱*/
.recipe_img{width: 100%;}
.recipe_img img{width: 100%;}
.recipe_tit{border-bottom: 1px solid #eee; padding: 8px 0; position: relative;}
.recipe_tit b{display: inline-block; padding: 0 15px 0 10px; color: #fff; height: 25px; line-height: 27px; background: #FAC700 url(../img/ico_tit.png) no-repeat right center; background-size: 9px 25px; font-size: 14px;}
.recipe_tit a.add_comment{display: inline-block; position: absolute; top: 14px; right: 10px; color: #878787; background: url(../img/ico_msg.png) no-repeat left center; background-size: 18px 18px; padding-left: 24px; font-size: 14px;}
.recipe_recommend,
.recipe_comment,
.recipe_steps,
.recipe_des{background: #fff; margin: 10px 10px 0; border-radius: 3px;}
.recipe_inf{background: #fff; padding: 15px 10px; height: auto; overflow: hidden;}
.recipe_inf h4{font-size: 15px;}
.recipe_inf p span{display: inline-block; /* padding-right:11px; */ text-align: center; width: 22%; box-sizing: border-box; float: left;}
.recipe_inf p span:nth-child(4){width: 34%;}
.recipe_inf p span i{display: block;}
.recipe_inf p span b{display: inline-block; padding-left: 25px; line-height: 20px; margin: 10px 0; font-size: 13px;}
.recipe_inf p span b.r_ico1{background: url(../img/sp_ico1.png) no-repeat left center; background-size: 20px 20px;}
.recipe_inf p span b.r_ico2{background: url(../img/sp_ico2.png) no-repeat left center; background-size: 20px 20px;}
.recipe_inf p span b.r_ico3{background: url(../img/sp_ico3.png) no-repeat left center; background-size: 20px 20px;}
.recipe_inf p span b.r_ico4{background: url(../img/sp_ico4.png) no-repeat left center; background-size: 20px 20px;}
.des_box{height: auto; overflow: hidden; font-size: 13px;}
.des_box p{margin: 10px 25px; text-align: left; color: #595959; position: relative;}
.des_box p b{text-align: right; color: #aaa; position: absolute; right: 0; top: 0;}
.des_box p b i{color: #6BD4A1;}
.recipe_steps{}
.recipe_steps ul{margin: 10px 25px; font-size: 13px;}
.recipe_steps ul li{position: relative; color: #747474;}
.recipe_steps ul li b{color: #6BD4A1; font-size: 14px;}
.recipe_steps ul li p{padding: 6px 0 20px; line-height: 22px;}
.recipe_steps ul li:before{content: ""; width: 2px; position: absolute; left: -10px; top: 5px; bottom: -5px; background: #6BD4A1;}
.recipe_steps ul li:after{content: ""; width: 8px; height: 8px; position: absolute; left: -13px; top: 2px; background: #6BD4A1; border-radius: 50%;}
.recipe_steps ul li:last-child:before{display: none;}
.recipe_comment{padding: 0 0 15px;}
.recipe_comment ul{}
.recipe_comment li{position: relative; padding: 0 0 0 50px; margin: 10px 10px 20px; position: relative;}
.recipe_comment li img{position: absolute; left: 0; top: 0; width: 40px; border-radius: 50%;}
.recipe_comment li h4{font-size: 14px; position: relative; color: #737373; margin-bottom: 6px;}
.recipe_comment li h4 b{position: absolute; right: 0; top: 0; color: #8D8D8D; font-size: 12px;}
.recipe_comment li p{color: #8D8D8D;}
.p_load{text-align: center;}
.p_load a{display: inline-block; margin: 0 auto; color: #B8B8B8; width: 100px; height: 28px; line-height: 28px; border: 1px solid #eee; border-radius: 3px; font-size: 13px;}
.recipe_recommend{padding: 0 0 20px; margin: 10px;}
.recipe_recommend li a{display: block; height: auto; overflow: hidden; position: relative; padding-left: 85px; height: 56px; line-height: 56px; margin: 20px 10px 0; clear: both; color: #595959;}
.recipe_recommend li img{width: 77px; height: 56px; border-radius: 3px; position: absolute; left: 0; top: 0;}
.recipe_recommend li b{width: 50%; float: left; font-size: 14px; text-align: center;}
/*瘦身计划*/
.thin_header{}
.thin_header .container{height: 200px; background: url(../img/thinplan_bg.jpg) no-repeat center; background-size: 100% auto;}
.thin_header .top{height: 33px; padding-top: 5px;}
.thin_header .top .left{float: left; margin-left: 10px;}
.thin_header .top .left a{font-size: 14px; color: #ffc71b; line-height: 28px;}
.thin_header .top .right{float: right; background: #ffc71b; height: 28px; padding: 0 10px; border-bottom-left-radius: 28px; border-top-left-radius: 28px;}
.thin_header .top .right a{color: #fff; line-height: 28px;}
.thin_header .top .right i{display: inline-block; width: 14px; height: 14px; background: url(../img/foodlist_icon.png) no-repeat center; background-size: 14px auto; position: relative; top: 3px; margin-right: 3px;}
.thin_header .day{text-align: center; font-size: 22px; padding-top: 25px;}
.thin_header .show{font-size: 22px; color: #fff; line-height: 22px;}
.thin_header .show span{font-size: 50px; color: #ffc71b; margin: 0 10px;}
.thin_header .data{font-size: 11px; color: #ffb9b9; margin-top: 5px;}
.thin_header .swiper_b{height: 40px; margin-top: 5px;}
.thin_main{margin-top: -40px;}
.thin_main .container{}
.thin_main .table_top{height: 40px; position: relative;}
.thin_main .table_top li{text-align: center; color: #fff; font-size: 16px; line-height: 37px;}
.thin_main .table_top li.on{border-bottom: 3px #ffc71b solid; color: #ffc71b;}
.thin_main .table_main{padding: 10px; background: #f5f5f5;}
.bgfff_mb10{background: #fff; margin-bottom: 10px;}
.thin_main .top{border-bottom: 1px #f5f5f5 solid;}
.thin_main .top a{display: block; height: 36px; line-height: 36px; padding: 0 6px;}
.thin_main .top i{display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-top: -3px;}
.thin_main .early .top i{background: url(../img/early_icon.png) no-repeat center; background-size: 20px auto;}
.thin_main .noon .top i{background: url(../img/noon_icon.png) no-repeat center; background-size: 20px auto;}
.thin_main .night .top i{background: url(../img/night_icon.png) no-repeat center; background-size: 20px auto;}
.thin_main .addnoon .top i{background: url(../img/addnoon_icon.png) no-repeat center; background-size: 20px auto;}
.thin_main .top span{float: right; font-size: 14px; color: #e9aa00; margin-right: 5px;}
.thin_main .top b{font-size: 14px; color: #e9aa00;}
.thin_main .content{padding: 10px 0 1px 0;}
.thin_main .content a{display: block; height: auto; overflow: hidden; position: relative; padding-left: 85px; height: 56px; line-height: 56px; margin: 0 10px; clear: both; color: #595959;}
.thin_main .content img{width: 77px; height: 56px; border-radius: 3px; position: absolute; left: 0; top: 0;}
.thin_main .content b{color: #595959; ; width: 50%; float: left; font-size: 14px; text-align: center;}
.thin_main .content b.align_left{text-align: left;}
.thin_main .content b.align_right{text-align: right;}
.thin_main .detail .content b{line-height: 24px;}
.thin_main .detail .content p{font-size: 11px; line-height: 16px; color: #a2a2a2;}
.thin_main .content a{margin-bottom: 10px;}
.join_main{}
.join_main img{display: block; width: 100%;}
.join_bottom{position: fixed; bottom: 0; height: 45px; width: 100%; background: #ffc880; text-align: center;}
.join_bottom .button{padding: 4px 25px; color: #fff; font-size: 15px; line-height: 45px; letter-spacing: 3px; border-radius: 20px; border: 1px #fff solid;}
.vip_main{}
.vip_main .interest_item{}
.vip_main .interest_item img{display: block; width: 100%;}
.vip_main .interest_item p.more{color: #fefefe; text-align: center; font-size: 11px; letter-spacing: 2px; position: relative; top: -28px;}
.vip_pay{}
.vip_pay ul{padding: 0 10px; margin-top: 20px;}
.vip_pay li{border: 1px #fff solid; margin: 0 7px; padding: 8px 0; text-align: center; color: #fff; border-radius: 4px;}
.vip_pay li.on{color: #00de7d; border-color: #00de7d;}
.vip_pay li h6{font-size: 11px; font-weight: normal; text-decoration: line-through; line-height: 13px;}
.vip_pay li h2{font-size: 14px; line-height: 16px; margin-top: 5px;}
.vip_pay li p{font-size: 12px; line-height: 12px; margin-top: 6px;}
.pau_button{width: 80%; margin: 25px auto; color: #fff; background: #00de7d; height: 36px; text-align: center; line-height: 36px; border-radius: 5px; font-size: 15px; letter-spacing: 2px;}
.no_data{height: 84px; margin-bottom: 10px; background: #fff; border-radius: 5px;}
.no_data a{display: block;}
.no_data img{width: 34px; margin: 20px 0 0 20px;}
.no_data p{float: right; color: #ffad7b; font-size: 16px; line-height: 84px; margin-right: 10px;}
.no_data p i{display: inline-block; width: 8px; height: 16px; background: url(../img/nearly_more.png) no-repeat center; background-size: auto 14px; position: relative; top: 3px; margin-left: 5px;}
/*评论*/
.comment_box{margin: 0 0 50px;}
.comment_box li{position: relative; border-bottom: 1px solid #E4E4E4; padding: 15px 10px 15px 52px; color: #818181; font-size: 13px; line-height: 20px;}
.comment_box li img{position: absolute; left: 10px; top: 10px; width: 32px; height: 32px; border-radius: 50%;}
.comment_box li h4{position: relative; padding-right: 60px; margin-bottom: 5px;}
.comment_box li h4 b{color: #9A9A9A; font-size: 12px; position: absolute; right: 0; top: 0;}
.comment_btn{position: fixed; left: 0; right: 0; bottom: 0; background: #fff; padding: 10px; z-index: 10;}
.comment_btn a{display: block; background: url(../img/comment_ico.png) no-repeat 6px center; background-size: 16px 16px; color: #bbb; font-size: 13px; padding-left: 28px; border: 1px solid #D2D2D2; border-radius: 5px; line-height: 30px;}
.comment_form{position: fixed; left: 0; top: 0; right: 0; background: #fff; z-index: 15; padding: 10px; transition: all .3s ease; -webkit-transition: all .3s ease;}
.comment_form.on{bottom: 0;}
.comment_form h4{font-size: 14px; text-align: left; position: relative;}
.comment_form h4 button{color: #C80400; width: 40px; height: 25px; text-align: center; background: none; border: none;}
.comment_form h4 button.ok{color: #2982AA; position: absolute; right: 0; top: 0;}
.comment_form textarea{width: 100%; border: 1px solid #D2D2D2; border-radius: 5px; height: 93px; padding: 5px; line-height: 20px; color: #818181;}
#tcbox{}
#tcbox .swiper-slide{height: 40px;}
#tcbox .swiper-slide .tcday{width: 14.2857%; height: 40px;float: left; text-align: center; position: relative;}
#tcbox .swiper-slide .tcday span{font-size: 13px; color: #ffc71b; display: inline-block; width: 40px; height: 40px; line-height: 40px;}
#tcbox .swiper-slide .tcday.on span{color: #fff; background: #ffc71b !important; height: 40px !important; width: 40px !important; border-bottom: none !important; border-radius: 40px !important;}
#tcbox .swiper-slide .tcday.thisday span{background: none; border-bottom: 1px #ffc71b solid; border-radius: 0; line-height: 40px; height: 35px; width: 32px;}
#tcbox .swiper-slide .tcday.month{}
#tcbox .swiper-slide .tcday.month span{width: 100% !important;height: 20px !important; background: none; position: relative; z-index: 2; background: none !important; line-height: 25px;}
#tcbox .swiper-slide .tcday.month.on span{width: 100%;}
#tcbox .swiper-slide .tcday.month.on:after{content: ''; width: 40px; height: 40px; border-radius: 40px !important; position: absolute; left: 50%; top: 50%; margin: -20px 0 0 -20px; display: block; background: #ffc71b; z-index: 1}
#tcbox .swiper-slide .tcday.month span.small{font-size: 10px; line-height: 14px;}

#planTypeTab{ margin-bottom:10px; display: -webkit-box; display: box; text-align: center;}
#planTypeTab .term{-webkit-box-flex: 1.0; box-flex: 1.0;height:3rem;  line-height:3rem; font-size:1.5rem; text-align:center; letter-spacing:2rem;text-indent:2rem; background:#fff; color:#222;}
#planTypeTab .term.on{border-bottom: 1px solid #43D18E}

.wind_box{display: none;}

.plan_top{background: #fff;}
.plan_top ul{}
.plan_top li{text-align: center;height: 40px;line-height: 40px;font-size: 14px;}
.plan_top li.on{color: #47E072;border-bottom: 2px #47E072 solid;}

.no_plan_b{width: 60%;margin: 10px auto;}
.no_plan_b img{width: 100%;}

.planjoin{padding: 10px;background: #fff;}
.planjoin img{width: 100%;border-radius: 5px}


.taocan{}
.taocan .wd_cont{
	height: 385px;
	background: none;
}
.taocan .wd_cont img{
	height: 385px;
	width: auto;
	margin: 0 auto;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 0;
}
.taocan .wd_cont i{
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/taocan_close.png) no-repeat center;
	background-size: 22px auto;
	right: 0px;
	top: 0px;
}
.taocan .wd_cont .table_b{
	width: 60%;
	margin: 130px auto 0;
	max-height: 180px;
	overflow-y: auto; 
	position: relative;
}
.taocan .wd_cont table{
	color: #fff;
	width: 100%;
}
.taocan .wd_cont thead th{font-weight: normal;}

.taocan .wd_cont tbody td{
	line-height: 20px;
	padding: 0 10px;	
}
