@charset "utf-8";*{padding:0;margin:0;}
html,body{width:100%;height:100%;padding:0;margin:0;font-family: "Microsoft YaHei" ! important;font-size:12px;}
input[type="text"],input{height: 20px;line-height: 20px;border:1px solid #ddd;}
a{color:#333;}
.accordion .accordion-header-selected {background: none repeat scroll 0 0 #e0ecff;}
.accordion .accordion-header-selected .panel-title {color: #15428b;}
.datagrid-toolbar{padding:0}
.pagination-info{float:left}
.searchTable{margin:5px 0;}
.searchTable tr{height:28px;}
.searchTable td{height:20px;font-size:12px;}
.searchTable td:nth-child(2n-1){text-align:right;width:100px;}
.searchTable td input[type='text']{/*border:1px solid #ddd;border-radius:5px;*/width:150px;height:20px;line-height:20px;padding-left:2px;}
.searchTable td input[type='text']:focus{border:1px solid #ddd;padding-left:2px;}
.searchTable td input[type='combo']{width:220px;}
.searchTable select{border:1px solid #86A3C4;width:150px;height:22px;line-height:22px;}
.searchTable select:focus{border:1px solid #2966B1;}
.searchTable td input[type='datetime']{width:97px;}
.searchTable button{border: 1px solid #18ae81;color:#fff;font-weight:bold;line-height:22px;overflow:hidden;position:relative;text-align:center;width:80px;background: #18ae81;margin-right:10px;cursor: pointer;}
.operate{font-size:12px;position:relative}
.operate .om-panel-header{height:auto; height: 27px;line-height: 27px;color:#333;font-size: 15px; background: #F5F5F5;padding:10px;font-weight:bold;}
.datagrid-toolbar{padding:0}
.panel-title{color:#333;font-size: 15px; background: #F5F5F5;padding:10px;}

.dialogPage{height:100%;font-size:14px;}
.dialogPage .om-panel-header{/*background: none repeat scroll 0 0 #e0ecff;*/border-bottom:1px solid #ddd;padding:6px 6px 10px;height:auto;line-height:auto;color:#333;font-weight:bold;}
.editDiv{/*border:1px solid #86a3c4;background:#fff;*/   overflow-x: hidden; overflow-y: hidden;}
.editTable{margin:20px auto;text-align:center}
.editTable tr{height:28px;}
.editTable td{}
.editTable td:nth-child(2n-1){text-align:right;width:105px;}
.editTable td:nth-child(2n){text-align:left;width:180px;}
.editTable td .error{border:1px solid red !important;}
.editTable td input[type='text']{border:1px solid #ddd;width:150px;padding:3px 2px; margin: 3px 0;}
.editTable td input[type='text']:focus{border:1px solid #ddd;width:150px;padding:3px 2px; margin: 3px 0;}
.editTable td input[type='combo']{width:152px;}
.editTable td input[type='password']{border:1px solid #ddd;/*border-radius:5px;*/width:150px;height:22px;padding-left:2px;}
.editTable td textarea{border:1px solid #ddd;/*border-radius:5px;*/resize:none;font-size:12px;padding-left:2px;}
.editTable td textarea:focus{border:1px solid #ddd;padding-left:2px;}
.editTable select{border:1px solid #ddd;width:155px;height: 28px; padding: 3px 2px;}
/* .editTable select:focus{border:1px solid #ddd;width:155px;height:22px} */
.dialogPage button{border:1px solid #18AE81;color:#fff;font-weight:bold;line-height:22px;overflow:hidden;position:relative;text-align:center;width:80px;background:#18AE81;margin-left:20px;}
.editBtn{text-align:center;margin:0 auto;}
.treeDiv{width:199px;height:100%;position:absolute;background:#fff;border-right:1px solid #ddd;}
.required{color:red}
ol,ul,li{list-style:none;}
.clearfix{overflow:hidden;zoom:1;}
.icon{position:absolute;top:1px;right:0px;padding:1px 0 0 0;}
.icon ul{}
.icon li{float:left;margin-right:12px;margin-top: 10px; width:66px;}
.icon li a{line-height:24px;color:#15428b;text-decoration:none;}
.icon li a:hover{color:red;}
.menu1{background:url(../images/icon.png) no-repeat 0 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu2{background:url(../images/icon.png) no-repeat -16px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu3{background:url(../images/icon.png) no-repeat -32px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu4{background:url(../images/icon.png) no-repeat -48px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu5{background:url(../images/icon.png) no-repeat -64px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu6{background:url(../images/icon.png) no-repeat -80px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu7{background:url(../images/icon.png) no-repeat -96px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu8{background:url(../images/icon.png) no-repeat -112px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu9{background:url(../images/icon.png) no-repeat -128px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu10{background:url(../images/icon.png) no-repeat -144px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu11{background:url(../images/icon.png) no-repeat -160px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu12{background:url(../images/icon.png) no-repeat -176px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu13{background:url(../images/icon.png) no-repeat -192px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu14{background:url(../images/icon.png) no-repeat -208px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu15{background:url(../images/icon.png) no-repeat -224px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu16{background:url(../images/icon.png) no-repeat -240px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu17{background:url(../images/icon.png) no-repeat -256px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu18{background:url(../images/icon.png) no-repeat -272px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu19{background:url(../images/icon.png) no-repeat -288px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu20{background:url(../images/icon.png) no-repeat -304px 0px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu21{background:url(../images/icon.png) no-repeat 0px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu22{background:url(../images/icon.png) no-repeat -16px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu23{background:url(../images/icon.png) no-repeat -32px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu24{background:url(../images/icon.png) no-repeat -48px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu25{background:url(../images/icon.png) no-repeat -64px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu26{background:url(../images/icon.png) no-repeat -80px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu27{background:url(../images/icon.png) no-repeat -96px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu28{background:url(../images/icon.png) no-repeat -112px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu29{background:url(../images/icon.png) no-repeat -128px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu30{background:url(../images/icon.png) no-repeat -144px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu31{background:url(../images/icon.png) no-repeat -160px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu32{background:url(../images/icon.png) no-repeat -176px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu33{background:url(../images/icon.png) no-repeat -192px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu34{background:url(../images/icon.png) no-repeat -208px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu35{background:url(../images/icon.png) no-repeat -224px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu36{background:url(../images/icon.png) no-repeat -240px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu37{background:url(../images/icon.png) no-repeat -256px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu38{background:url(../images/icon.png) no-repeat -272px -16px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
/*备用*/
.menu39{background:url(../images/icon.png) no-repeat 0px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu40{background:url(../images/icon.png) no-repeat -16px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu41{background:url(../images/icon.png) no-repeat -32px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu42{background:url(../images/icon.png) no-repeat -48px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu43{background:url(../images/icon.png) no-repeat -64px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu44{background:url(../images/icon.png) no-repeat -80px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu45{background:url(../images/icon.png) no-repeat -96px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu46{background:url(../images/icon.png) no-repeat -112px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu47{background:url(../images/icon.png) no-repeat -128px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu48{background:url(../images/icon.png) no-repeat -144px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu49{background:url(../images/icon.png) no-repeat -160px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu50{background:url(../images/icon.png) no-repeat -176px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu51{background:url(../images/icon.png) no-repeat -192px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu52{background:url(../images/icon.png) no-repeat -208px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu53{background:url(../images/icon.png) no-repeat -224px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu54{background:url(../images/icon.png) no-repeat -240px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu55{background:url(../images/icon.png) no-repeat -256px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu56{background:url(../images/icon.png) no-repeat -272px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu57{background:url(../images/icon.png) no-repeat -288px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu58{background:url(../images/icon.png) no-repeat -304px -32px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu59{background:url(../images/icon.png) no-repeat 0px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu60{background:url(../images/icon.png) no-repeat -16px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu61{background:url(../images/icon.png) no-repeat -32px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu62{background:url(../images/icon.png) no-repeat -48px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu63{background:url(../images/icon.png) no-repeat -64px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu64{background:url(../images/icon.png) no-repeat -80px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu65{background:url(../images/icon.png) no-repeat -96px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu66{background:url(../images/icon.png) no-repeat -112px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu67{background:url(../images/icon.png) no-repeat -128px -48px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu68{background:url(../images/icon.png) no-repeat 0px -64px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu69{background:url(../images/icon.png) no-repeat -16px -64px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.menu70{background:url(../images/icon.png) no-repeat -32px -64px;height:16px;width:16px;display:block;margin:5px 2px 4px 0;float:left;}
.tree-button{background:url(../images/icon.png) no-repeat -144px 0px; display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  overflow: hidden;
  }
  
 a:link,a:visited{text-decoration:none;  /*超链接无下划线*/}
 
 
 td[field="link"] a,.link{text-decoration: underline;color:#000083;}
 
 /*--------显示大图----------*/
 #bigImg{position: absolute;z-index: 99;left:20px;top:20px;background: #fff;padding: 20px;border: 1px solid #ddd;}
 #bigImg img{width:300px;}
 #bigImg .menu11{position: absolute; right:0px; top:0px;}
 
 /*--------显示大图----------*/
 
 
 
/*--------视频位置----------*/
 #videoWarp{position: fixed; top:0px; left:0px;width: 600px;height: 400px;display:none;}
 #videoWarp.hove{display: block;}
 #videoWarp .menu11{position:absolute; right:0px; top:0px; cursor:pointer}
/*--------视频位置----------*/