@charset "utf-8";
body{ margin:0 auto; padding:0px; font-size:12px;font-family: "Microsoft YaHei" ! important;}
p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
i,em{font-style: normal;}
b{font-weight: normal;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
select::-ms-expand{display:none;}
::-ms-check{display:none;}
input, textarea, select{outline:none;}
input, textarea{border:none;}
input:-moz-placeholder{color:#999;}
::-webkit-input-placeholder{color:#999;}
a,button,input{-webkit-touch-callout:none;outline:none;}
a{text-decoration:none;-webkit-touch-callout:none; color: #666;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);font-family: "Microsoft YaHei" ! important;}
/*a,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,th,td,menu,article,pre,xmp,plaintext,listing,em,span,i,b{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}*/
a:active,button:active{opacity: .75;filter:alpha(opacity=75);}
.fr{float: right;}
.fl{float: left;}

body{background: #fff;}
.wrap1200{display: block;margin:0 auto;position: relative;height: auto;clear: both;}
a{transition:color .4s ease;-webkit-transition:color .4s ease;}

.member_detail{margin:40px 20px;}
.member_detail .m_list{font-size: 15px;border-bottom: 1px solid #eee;padding: 15px 0;color:#666;position: relative;transition: all .3s;}
.member_detail .m_list:hover{background: #FAF5F0;}
.member_detail .m_list b{color:#333;display: inline-block;width: 100px;text-align: right;margin-right: 20px;}
.member_detail .m_list a{display: block;position: absolute;left:420px;top:15px;color:#C79254;}
.member_detail .m_list a.reset_pwd{background:#C79254;color:#fff;font-size: 14px;text-align: center;height: 30px;width: 90px;line-height: 30px;top:10px;left:388px;}
.member_detail .m_list select{ width: 200px;}
.member_detail i{background: url(../images/ico_u.png) no-repeat 0 0;width: 18px;height: 18px;position:absolute;left:120px;top:15px; background-position: 0 0;}
.member_detail i.on{background-position: -24px 0;}
.member_detail em{display: inline-block;width:70px;height: 15px;background: url(../images/ico_star.jpg) no-repeat;position: relative;top:2px;margin-left: 10px;}
.member_detail em.star1{background-position: -70px 0;}
.member_detail em.star2{background-position: -140px 0;}
.member_detail em.star3{background-position: -210px 0;}
.member_detail em.star4{background-position: -280px 0;}
.member_detail em.star5{background-position: -350px 0;}

.edit_div{position: absolute;left:500px;top:11px;display: none;width: 312px;}
.edit_div input{width: 300px;height: 26px;border:1px solid #ddd;padding:0 5px;background: #fff;}
.edit_div button{display: block;width: 60px;height: 28px;background: #ccc;color:#666;position: absolute;right:0;top:0;}

/*客服消息*/
.kf_msg{margin: 0 0 40px;clear: both;border:1px solid #ddd;position: relative;top:-1px;}
.kf_msg tr{border-bottom: 1px solid #eee;}
.kf_msg tr td{padding:20px 10px;text-align: center;font-size: 13px;color:#666;}
.kf_msg tr td .kf_msg_inf{text-align: left;color:#666;line-height: 24px;}
.kf_msg tr td .kf_msg_inf a{color:#49c5f4;display: inline-block;margin:0 5px;text-decoration: underline;}
.kf_msg tr td .no{color:#f00;}
.kf_msg_nav{position: relative;border-bottom:1px solid #ddd;height: 37px;}
.kf_msg_nav a.nav_a{display: block;width:100px;height:36px;line-height: 36px;text-align: center;float:left;font-size: 15px;border:1px solid #ddd;margin-right: -1px;background: #eee;}
.kf_msg_nav a.nav_a.on{background: #C79254;border-color:#C79254;color:#fff;}
.kf_msg_add{position: absolute;right:10px;top:10px;font-size: 14px;color:#49c5f4;}
.kf_msg{display: none;}
.msg_del,.msg_back{position: absolute;top:0;right:0;font-size: 13px;color:#49c5f4;text-decoration: underline;}
.msg_del{right:50px;color:#f00;}
.kf_msg_detail{}
.kf_msg_head{border-bottom: 1px solid #eee;padding:0 20px 20px;font-size: 14px;color:#666;line-height: 26px;}
.kf_msg_cont{margin:20px 20px 50px;line-height: 30px;font-size: 13px;color:#666;}
.kf_msg_cont img{max-width: 600px;vertical-align: bottom;margin:8px 0;}
.plan a{color:#49c5f4;display: inline-block;margin:0 5px;text-decoration: underline;}
.msg_hf{color:#49c5f4;}
.plan{margin:0 20px;}
.plan h4{font-size: 14px;color:#333;margin-bottom: 15px;}
.plan h4 b{color:#f00;position: relative;top:3px;}
.plan p{color:#666;font-size: 14px;margin-bottom: 15px;}
.plan p input{width: 500px;height:30px;padding:0 5px;border:1px solid #ddd;position: relative;top:-5px;margin-left: 10px;margin-right: 5px;}
.plan textarea{width: 660px;height:200px;border:1px solid #ddd;padding:5px;line-height: 24px;font-size: 13px;margin-bottom: 15px;}
.plan button{display: block;width: 180px;height: 44px;color:#fff;background:#ffc71b;text-align: center;font-size: 16px;margin:30px 0;}
#output,.output{display: inline-block;float: left; width: 105px; height: 90px;}
#output img,.output img{width: 90px; height: 90px; margin-bottom: 15px; margin-right: 15px;}
.fileItem{display: inline-block;position: relative;}
.filePItem{margin-right: 5px;float: left;position: relative;}
.fileItem input, .filePItem input{display: none;}
#output .s_img{ display: inline-block; position: relative; margin-right: 15px; margin-bottom: 10px;}
#output .s_img img{ margin-right: 0; margin-bottom: 0;}
#output .s_img i, .fileItem i, .filePItem i{ display: inline-block; position: absolute;right:-10px; top: -12px; background: url(../images/close.png) no-repeat;background-size: 18px 18px; width:24px; height: 24px; cursor: pointer;}
#addpic,.addpic{width: 90px;height: 90px;background:#fff url(../images/add.png) no-repeat center center;border: 1px solid #ddd;display: inline-block;cursor: pointer;position: relative;overflow: hidden;margin-left: 95px;line-height: 90px;}
#addpic:active,.addpic:active{ background-color: #ddd;}
#addpic input,.addpic input{position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';
  font-size: 68px;direction: ltr;cursor: pointer;}
#addpic img,.addpic img { width: 100%; vertical-align: middle; }
#addpic{width: 90px;height: 90px;background:#fff url(../images/add.png) no-repeat center center;border: 1px solid #ddd;display: inline-block;cursor: pointer;position: relative;overflow: hidden;}
#addpic:active{ background-color: #ddd;}
#addpic input{position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';
  font-size: 68px;direction: ltr;cursor: pointer;    height: 92px; width: 92px;}
.fileItem i, .filePItem i{right: 5px;top: -10px;}
.fileItem:hover i, .filePItem:hover i{display: inline-block;}

.org_box{padding-top:20px; padding-left:20px;}
.org_box h2{font-size: 18px;line-height: 50px;}
.org_box p b{color:#f00;position: relative;top:3px;}
.org_box p input[type='checkbox']{width: 13px;height: 13px;top: 5px;}
.org_box p span{display: inline-block;width: 80px;text-align: right;}
.org_box h4 span{margin-left: 10px;}
.org_box p input.w400{width: 360px;}
.org_box p input.w30{width: 30px;text-align: center;}
.org_box p input.w70{width: 70px;text-align: center;}

.item_b{position: relative;max-width: 100%;}

.org_box .p_class{color:#666;font-size: 14px;margin-bottom: 15px;}
.org_box .p_class span{display: inline-block;width: 80px;text-align: right;vertical-align: top;position: relative;top: 5px;}
.org_box .p_class img{width: 100px;margin-left: 10px;}

.comment_box{margin: 0 0 50px;}
.comment_box li{position: relative;border-bottom: 1px solid #ccc;padding: 15px 10px 0px 10px;color: #818181;font-size: 13px;line-height: 20px;}
.comment_box li h4{position: relative; padding-right: 60px; margin-bottom: 5px;}
.comment_box li h4 b{cursor: pointer;color: #f00; font-size: 12px; position: absolute; right: 0; top: 0;}
.list_box{display: inline-block;width: 600px;max-height: 400px;overflow-y: auto;border: 1px #ccc solid;margin: 0 0 0 10px;}
.addComment{padding: 10px;border: 1px #ccc solid;display: inline-block;max-width: 600px;margin-left: 10px;}
.w500{width: 500px !important;}
.w100{width: 100px !important;}

.radio_label{cursor: pointer;display: inline-block;width: 80px;height: 24px;text-align: center;border: 1px #ccc solid;line-height: 24px;margin-left: 10px;}
.radio_label.on{border-color: #f00;color: #f00;}
.radio_label input{display: none;}
.file_btn{position: relative;}
.file_btn .file_input{position: absolute;z-index: 2;opacity: 0;-ms-filter: 'alpha(opacity=0)';direction: ltr;cursor: pointer;}
.file_btn .file_button{position: absolute;z-index: 1;background: #ffc71b;color: #fff;border: none;border-radius: 5px;}

.table_box{width: 850px;}
.table_top{height: 40px;margin-bottom: -1px;}
.day_warp{max-width:631px;overflow: hidden; float: left;}
.table_top ul{height: 40px;float: left; max-width:5000px;}
.table_top li{position: relative;margin-right: -1px;cursor: pointer;float: left;height: 38px;line-height: 38px;width: 104px;text-align: center;border: 1px #ccc solid;}
.table_top li.on{background:#eee; border-bottom-color:transparent}
.table_top ul li i{display: none;position: absolute;right: 0px;top: 0px;width: 16px;height: 16px;background: url(../images/close.png) no-repeat center; background-size: 24px auto;}
.table_top ul li:hover i{display: block;}
.table_top .but{cursor: pointer;float: left;height: 38px;line-height: 38px;width: 50px;text-align: center;border: 1px #ffc71b solid;background: #ffc71b;color: #fff;}
.table_top .but.add{border-right:1px #c19305 solid}
.table_top .but.remove{border-left:1px #f4e1a5 solid}


.table_main{clear:both }
.table_main .item{/* border: 1px #ccc solid; */margin-bottom: 20px;background: #eee;}
.table_main .item h2{text-align: center;line-height: 30px;position: relative;top: 8px;}
.table_main .item ul{overflow: hidden;}
.table_main .item ul li{position: relative;border: 1px #ddd solid;float: left;width: 30%;margin: 20px 1.5%;height: 210px;background: #fff;}
.table_main .item ul li img{display: block;width: 80%;height: 120px;margin: 15px auto;}
.table_main .item ul li h6{margin: 10px 0 0 10%;font-size: 12px;line-height: 16px;}
.table_main .item ul li h5{margin: 10px 0 0 10%;font-size: 12px;line-height: 16px;}
.table_main .item ul li i{display: none;position: absolute;right: 5px;top: 5px;width: 24px;height: 24px;background: url(../images/close.png) no-repeat center; background-size: 24px auto;}
.table_main .item ul li:hover i{display: block;}
.table_main .item ul li.on{background: #f6e1a1}
.table_main .item ul li.add{
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	cursor: pointer;
	-webkit-user-select: none;
}
.container,.dash_border{ border: 2px dashed #ddd;margin: 20px 0;padding:10px;position: relative }
.container:hover{background: rgba(255, 199, 27, 0.11)}
.right{float: right;}
.btn_group{
	position: relative;
	display: inline;
	bottom: 7px;
}
.btn_group .again_btn{
	position: relative !important;
	display: inline-block;
}
.top_right{
	top: 10px;
	right: 10px !important;
}
.bottom_right{
	bottom: 10px;
	right: 10px !important;
}
.hidden {
	display: none !important;
}
.delete {
	background: #ff4444 !important
}
.kf_msg_form h2{font-size: 18px;line-height: 50px;}
.kf_msg_form p b,.kf_msg_form .p b{color:#f00;position: relative;top:3px;}
.kf_msg_form p input[type='checkbox'],.kf_msg_form .p input[type='checkbox']{width: 13px;height: 13px;top: 5px;}
.kf_msg_form p span,.kf_msg_form .p span{display: inline-block;width: 80px;text-align: right;}
.kf_msg_form h4 span{margin-left: 10px;}
.kf_msg_form p input.w400,.kf_msg_form .p input.w400{width: 360px;}
.kf_msg_form p input.w30,.kf_msg_form .p input.w30{width: 30px;text-align: center;}
.kf_msg_form p input.w70,.kf_msg_form .p input.w70{width: 70px;text-align: center;}

.item_b{position: relative;max-width: 100%;}
.item_b .again_btn{position: absolute;right: 0;padding: 10px 15px;background: #ffc71b;color: #fff;line-height: 14px;border-radius: 5px;cursor: pointer;font-size: 14px;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;}

.kf_msg_form .p_class{color:#666;font-size: 14px;margin-bottom: 15px;}
.kf_msg_form .p_class span{display: inline-block;width: 80px;text-align: right;vertical-align: top;position: relative;top: 5px;}
.kf_msg_form .p_class img{width: 100px;margin-left: 10px;}
.kf_msg_cont a{color:#49c5f4;display: inline-block;margin:0 5px;text-decoration: underline;}
.msg_hf{color:#49c5f4;}
.kf_msg_form{margin:0 20px;}
.kf_msg_form h4{font-size: 14px;color:#333;margin-bottom: 15px;}
.kf_msg_form h4 b{color:#f00;position: relative;top:3px;}
.kf_msg_form p,.kf_msg_form .p{color:#666;font-size: 14px;margin-bottom: 15px;}
.kf_msg_form p input,.kf_msg_form .p input{width: 500px;height:30px;padding:0 5px;border:1px solid #ddd;position: relative;top:-5px;margin-left: 10px;margin-right: 5px;}
.kf_msg_form textarea{width: 660px;height:200px;border:1px solid #ddd;padding:5px;line-height: 24px;font-size: 13px;margin-bottom: 15px;}
.kf_msg_form button{display: block;width: 180px;height: 44px;color:#fff;background:#ffc71b;text-align: center;font-size: 16px;margin:30px 0;}
#output,.output{display: inline-block;float: left;}
.kf_msg_cont a{color:#49c5f4;display: inline-block;margin:0 5px;text-decoration: underline;}
.over_hidden { overflow: hidden; }