@charset "utf-8";

.history_main{padding-bottom: 20px;}
.history_main .i_floor{overflow: hidden;}

.item_top{padding: 10px;border-bottom: 1px #eee solid;}
.item_top h2{float: left;line-height: 16px;font-size: 14px;color: #222;padding-left: 10px;border-left: 2px #00df7e solid;}
.item_top p{float: right;line-height: 16px;font-size: 12px;color: #aaa;}

.item_main{}
.item_main ul{padding: 16px 10px;}
.item_main li{text-align: center;}
.item_main li h6{font-size: 16px;color: #999;line-height: 16px;font-weight: normal;}
.item_main li p{font-size: 16px;color: #434343;line-height: 16px;margin-top: 10px;font-weight: bold;}

.item_bottom{height: 30px;background: #f5f5f5;}
.item_bottom a{display: block;height: 30px;position:relative;}
.item_bottom p{float: left;line-height: 30px;font-size: 12px;color: #222;margin-left: 24px;}
.item_bottom span{position: absolute;right: 10px;top: 50%;margin-top: -8px;}

.look_more{text-align: center;margin-top: 10px;padding: 20px 0;}


