@charset "utf-8";blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,select,legend,li,ol,p,pre,td,textarea,th,ul,img{margin: 0;padding: 0;font-size: 14px;font-family: Microsoft YaHei, LiHei Pro;}
ul,li{list-style: none;}
h1,h2,h3,h4,h5{font-weight: normal;}
button{border: none;cursor: pointer;}
a{text-decoration: none;}
a:hover{color:#55b700;}
.msyh{font-family: Microsoft YaHei, LiHei Pro;}
.m{margin: 0 auto;}
.c{clear: both;}
.l,.lil li{float: left;}
.r,.lir li{float: right;}
.oa{overflow: auto;}
.none{display: none;}
.pr{position: relative;z-index: 2}
.pa{position: absolute;}
.px{position: fixed;}
.btnx{display: block;cursor: pointer;}
.btnx:hover{text-decoration: none;}
*:focus{outline: none;}
img{border: none;display: block;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.overlay,.overlay .overlay_block{width: 100%;height: 100%;top: 0;left: 0;}
.overlay{background: url(../images/overlay.png) repeat;z-index: 99999;}
a{transition:all .2s ease;-webkit-transition:all .2s ease;}

.fpt{margin-top: 60px;}

.footer .f1{padding-left: 84px;width: 1116px; margin: 0 auto;}
.fnav{float: left;}
.fnav dl{float: left; padding: 0 90px 0 30px;}
.fnav dl.line{padding: 0;width: 2px;background-image: url(../images/line.gif); background-repeat: repeat-y;height: 140px;}
.fnav dl dt{font-size: 18px;height: 35px;}
.fnav dl dt a{color: #666;}
.fnav dl dd{font-size: 14px;line-height: 26px;}
.fnav dl dd a{color: #999;}
.fnav a:hover{text-decoration: none;}
.f2{width: 100%;text-align: center;font-size: 14px;color: #666; padding: 40px 0;}
.f2 a{color: #666;margin-right: 5px;display: inline-block;}
.phone{float: right; padding-right: 110px;}
.phone h3{font-family: "Helvetica";font-size: 30px;color: #666;}
.phone p{font-size:16px;color: #999;}

/*.totop{ display:none; width:45px; height:45px; position:fixed;right:10px; bottom:10px; background:url(../images/icon1.png) no-repeat; z-index:100;}*/
.fr{float: right;}
.fl{float: left;}
.pa{position: absolute;}
.pr{position: relative;}

.header{ overflow: hidden;z-index: 999;position: relative;}
.common{background-color: #fff;width: 100%;margin: 0 auto;height: 100px;}
.logo{width:196px;position: absolute;left:0;top:0;padding-top:17px;height: 63px;}
.header .cont{width: 1200px;margin: 0 auto;position: relative;}
.header .nav{ position: relative;width:770px;float: right;height: 100px;overflow: hidden;line-height: 100px;}
.header .nav li{width: 110px;float: left;text-align: center;}
.header .nav ul{position: relative;z-index: 2;}
.header .nav li a{font-size: 14px;color: #666;display: block;}
.cursor{height: 95px;width: 110px;position: absolute;top: -95px;z-index: 2;border-bottom: solid 5px #2cb158;transition-duration:0.5s;}

.title{width: 100%;height: 47px;line-height: 47px;border-bottom: 1px solid #dbdbdb;font-size: 18px;color: #333;}
.title span{font-size: 14px;display: inline-block;text-transform:capitalize;}


.fl{float: left;}.fr{float: right;}
.clear{display: block}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clear:before{content:".";display:block;height:0;clear:both;visibility:hidden}
.content{width: 1200px;margin: 0 auto;}

.body_box{position: fixed;width: 100%;height: 100%;background: url(../images/bodyBG.jpg) no-repeat center center;background-size: 100% 100%;top: 0;z-index: 1;}
.show_top{height: 30px;color: #9b9b9b;font-size: 14px;line-height: 30px;background: rgba(255,255,255,0.08);position: fixed;top: 0;z-index: 10;width: 100%;}
.show_topB{padding: 0 12px;}
.show_top h6{float: left;font-size: 14px;}
.show_top p{float: right;font-size: 14px;}
.show_main{height: 100%;width: 100%;position: relative;z-index: 2;box-sizing:box-sizing;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;padding-top: 30px;}
.show_box{}

.show_detail{padding-right: 10px;}

.detail_item{float: left;width: 50%;box-sizing:box-sizing;-webkit-box-sizing:border-box;}
.detail_item h2{font-size: 16px;line-height: 30px;color: #38e7c0;text-indent: 10px;}
.detail_item ul{width: 100%;}
.detail_item li{width: 33.33%;float: left;}

.item_box{background: #373737;height: 100%;margin-left: 10px;position: relative;}
.item_top{height: 20px;border-bottom: 1px #9b9b9b solid;}
.item_top span{float: left;width: 15px;height: 15px;background: #9b9b9b;text-align: center;line-height: 15px;margin-top: 5px;font-size: 15px;color: #373737}
.item_top h6{float: left;font-size: 12px;color: #9b9b9b;font-weight: normal;height: 15px;line-height: 15px;margin-top: 5px;margin-left: 6px;}

.item_main{}
.item_main p{font-size: 20px;color: #b6e780;line-height: 24px;text-align: center;}
.item_main p span{}
.item_main p.up:before{display: inline-block;content: '';width: 6px;height: 6px;background: url(../images/sj1.png) no-repeat 0 0; background-size: 6px auto;margin-right:5px;margin-left:-5px;}
.item_main p.down:before{display: inline-block;content: '';width: 6px;height: 6px;background: url(../images/sj1.png) no-repeat 0 -12px; background-size: 6px auto;margin-right:5px;margin-left:-5px;}

.item_bottom{position: absolute;bottom: 5px;right: 12px;}
.item_bottom p{font-size: 13px;color: #9b9b9b;line-height: 13px;}
.item_bottom p span{font-size: 11px;vertical-align: text-top;margin-left: 3px;}
.item_bottom p i{display: inline-block;border-width: 4px;border-style: solid;margin-right: 5px;}

.item_bottom p.up i{border-color:  transparent transparent #b6e780 transparent;position: relative;top: -5px;}/*background: url(../images/sj.png) no-repeat 0 0;background-size: 4.5px auto;*/
.item_bottom p.down i{border-color: #C95D3C transparent transparent transparent;position: relative;top: 1px;}/*background: url(../images/sj.png) no-repeat 0 -6px;background-size: 4.5px auto;*/

.detail_item li.on .item_bottom p{color: #373737}
.detail_item li.on .item_bottom p.up i{border-color:  transparent transparent #373737 transparent;}
.detail_item li.on .item_bottom p.down i{border-color: #373737 transparent transparent transparent;}

.item1 .item_main p{margin-top: 15px;}
.item2 .item_main p{margin-top: 30px;text-align: center;}
.item3 .item_main p{margin-top: 15px;text-align: center;}
.item4 .item_main p{margin-top: 15px;text-align: right;margin-right: 25px;}
.item5 .item_main p{margin-top: 20px;text-align: center;}
.item6 .item_main p{margin-top: 12px;text-align: right;margin-right: 25px;}
.item6 .item_main p:after{content: '%';font-size: 12px;color: #b6e780;vertical-align: text-top;}

.item7 .item_main p{margin-top: 15px;text-align: right;margin-right: 25px;}
.item8 .item_main p{margin-top: 15px;text-align: left;margin-left: 25px;}
.item9 .item_main p{margin-top: 25px;}

.item_box{background-position: center;background-size: cover;transition: background-color .7s ease;}
.item1{background-image: url(../images/item_ico1.png);}
.item2{background-image: url(../images/item_ico2.png);}
.item3{background-image: url(../images/item_ico3.png);}
.item4{background-image: url(../images/item_ico4.png);}
.item5{background-image: url(../images/item_ico5.png);}
.item6{background-image: url(../images/item_ico6.png);}
.item7{background-image: url(../images/item_ico7.png);}
.item8{background-image: url(../images/item_ico8.png);}
.item9{background-image: url(../images/item_ico9.png?temp=3);}

.detail_item li.on .item_box{background-color: #36dcb7;}
.detail_item li.on .item_top{border-bottom-color: #373737;}
.detail_item li.on .item_top span{background-color: #373737;color: #36dcb7;}
.detail_item li.on .item_top h6{color: #373737;}
.detail_item li.on .item1{background-image: url(../images/item_ico1_on.png);}
.detail_item li.on .item2{background-image: url(../images/item_ico2_on.png);}
.detail_item li.on .item3{background-image: url(../images/item_ico3_on.png);}
.detail_item li.on .item4{background-image: url(../images/item_ico4_on.png);}
.detail_item li.on .item5{background-image: url(../images/item_ico5_on.png);}
.detail_item li.on .item6{background-image: url(../images/item_ico6_on.png);}
.detail_item li.on .item7{background-image: url(../images/item_ico7_on.png);}
.detail_item li.on .item8{background-image: url(../images/item_ico8_on.png);}
.detail_item li.on .item9{background-image: url(../images/item_ico9_on.png);}
.detail_item li.on .item_main p{color: #373737}
.detail_item li.on .item6 .item_main p:after{color: #373737;}

.detail_item li.on .item_main p.up:before{background-position: 0 -6px;}
.detail_item li.on .item_main p.down:before{background-position: 0 -18px;}

.show_all{margin: 0 10px;height: 100%;padding-bottom: 30px;box-sizing:box-sizing;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;position: relative;}
.all_box{background: #373737;height: 100%;}
.copyB{width: 100%;position: absolute;bottom: 5px;color: #9b9b9b;font-size: 12px;text-align: center;}