@charset "utf-8";
body{ margin:0 auto; padding:0px; font-size:12px;font-family: "Microsoft YaHei" ! important; /*text-align:center; */min-width: 320px; max-width: 640px;}
p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
i,em{font-style: normal;}
b{font-weight: normal;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;border:none;outline:none;}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;/*height:100%;*/}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a{text-decoration:none;-webkit-touch-callout:none; color: #666;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);font-family: "Microsoft YaHei" ! important;}
*{box-sizing:border-box;}
a,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,th,td,menu,article,pre,xmp,plaintext,listing,em,span,i,b{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}

body{ background:#f7f7f7;font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
.table{ display: table;}
.cell{ display: table-cell; vertical-align: middle;}

/*绑定账户*/
.bind_box{display: block;padding:10px;}
.bind_box .bind_tip{font-size:12px;color:#666;margin-bottom: 10px;}
.bind_box form *{height: 36px;border-radius:5px;font-size: 14px;}
.bind_box .num{width: 100%;}
.bind_box .ma{padding-right: 123px;position: relative;}
.bind_box .num input,.bind_box .ma input{border:1px solid #33B152;width: 100%;padding:0 5px;}
.bind_box form p{margin-bottom: 10px;}
.bind_box form p i{width:113px;position: absolute;right:0;top:0;line-height: 36px;background-color: #33B152;text-align: center;color:#fff;transition: all .4s;-webkit-transition: all .4s;}
.bind_box form p i.grey{background-color: #ccc;}
.bind_box form button{background: url(../images/btn.png) repeat center;background-size: cover;width: 100%;color:#fff;font-size: 15px;}

/*绑定弹出窗*/
.window{position:fixed;top:0;width: 100%;bottom:0;left:0;z-index: 10;background: rgba(0,0,0,.77);display: none;}
.window_cont{width: 260px;height: 104px;border-radius: 5px;position: absolute;left:50%;top:50%;margin:-52px 0 0 -130px;text-align: center;color:#fff;background:#808581;-webkit-transform:scale3d(.3);transform:scale3d(.3);opacity: 0;transition: all .4s;-webkit-transition: all .4s;}
.window_cont.zoomIn{-webkit-transform:scale3d(1);transform:scale3d(1);opacity:1;}
.window_cont p{padding:20px 0 5px;line-height: 20px;font-size: 15px;}
.window_cont a{font-size:18px;text-decoration: underline;color:#60CB09;display: block;}

/*绑定成功/失败*/
.bind_state{display: block;margin:40px auto;text-align: center;width: 85%;font-size: 13px;line-height:26px;color: #666;}
.bind_state img{vertical-align: bottom;width: 100%;}
.bind_state i{display: inline-block;margin:0 3px;}
.bind_state h4{font-size: 20px;margin:-10px 0 5px;}
.bind_state i,.bind_state h4{color:#48B617;}

/*全部商家*/
.business_box{}
.bus_tit{font-size: 15px;;color:#333;padding:10px 15px;background: #F7F7F7;}
.bus_num{padding:20px 15px;background: #fff;margin:0;height: auto;overflow: hidden;border-bottom: 5px solid #F7F7F7;}
.bus_num span{display: block;width: 50%;float: left;height: 70px;position: relative;padding-top: 30px;}
.bus_num span:nth-child(1):after{content: "";border-right:1px solid #ccc;height: 30px;position: absolute;right:0;top:25px;}
.bus_num span:nth-child(2){padding-left: 20px;}
.bus_num span em{position: absolute;left:0;top:0;color:#999;}
.bus_num span:nth-child(2) em{left:20px;}
.bus_num span b{font-size:22px;font-weight: bold;color: #48B617;margin-right:30px;position: relative;}
.bus_num span b:after{content:attr(data);position: absolute;right:-100px;top:-8px;font-size: 10px;color:#FF9313;font-weight: normal;text-align: left;width: 100px;}
.bus_num span i{position: relative;top:-2px;font-size: 15px;color: #999}

.bus_list{background: #fff;height: auto;overflow: hidden;padding:0 15px;}
.bus_list.spe{border-top:1px solid #e8e8e8;padding-bottom: 50px;}
.bus_list.noborder{border:none;}
.bus_list li{background: url(../images/border.png) no-repeat center bottom;background-size:100% 1px;padding:14px 80px 14px 0;position: relative;counter-increment: my;}
.bus_list li h4{font-size:15px;color:#666;}
.bus_list li p{font-size: 12px;color:#999;margin-top: 5px;}
.bus_list li b{position: absolute;right:0;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);font-size: 15px; color:#48B617;}
.bus_list li b:after{content: "次";font-size: 16px;}
.bus_list li i{display: inline-block;margin-left: 10px;}
.bus_list.spe li b{top:60%;}
.bus_list.noborder li b{top:50%;}
.bus_list.noborder li b.b1{top:40%;}
.bus_list.noborder li b.b2{top:60%;}
.bus_list h3{padding-left:16px;font-size: 15px;margin-bottom:10px;background:url(../images/t.png) no-repeat 5px center;background-size:15px 14px;}
.bus_list li:nth-child(1) h3{padding-left:20px;font-size: 15px;margin-bottom:10px;background:url(../images/t1.png) no-repeat -5px center;background-size:39px 23px;}
.bus_list li:nth-child(2) h3{padding-left:20px;font-size: 15px;margin-bottom:10px;background:url(../images/t2.png) no-repeat 1px center;background-size:29px 25px;}
.bus_list li:nth-child(3) h3{padding-left:20px;font-size: 15px;margin-bottom:10px;background:url(../images/t3.png) no-repeat 3px center;background-size:27px 23px;}
.bus_list.spe li:before{content: counter(my);position: absolute;left:58px;top:14px;font-size: 15px;}
.bus_list li:nth-child(1) h3,.bus_list li:nth-child(2) h3,.bus_list li:nth-child(3) h3{padding-left: 28px;}
.bus_list li:nth-child(1):before,.bus_list li:nth-child(2):before,.bus_list li:nth-child(3):before{left:68px;font-size: 17px;top:12px;}

.more{text-align: center;font-size: 13px;color:#999;padding:8px 0;}

.bus_user{display: block;background: url(../images/top.png) no-repeat center; background-size: cover;height: 100px;width: 100%;position: relative;padding:20px 0 0 110px;font-size: 18px;color:#fff;}
.bus_user img{width: 75px;height: 75px;border:1px solid #DBBA84;position: absolute;left:15px;top:12px;z-index: 1;}
.bus_user h4{margin-bottom: 10px;}
.bus_inf{background: #f7f7f7;padding: 10px 15px;line-height: 16px;font-size: 12px;color:#C2BAC0;}
.bus_inf h4{font-size: 14px;color:#666;}
.bus_user input{position: absolute;left:15px;top:12px;z-index: 2;opacity: .1;background: #000;width: 75px;height: 75px;}

.border{border-bottom:1px solid #e8e8e8;}
.test_tit{text-align: center;color:#666;font-size: 16px;padding:12px;background: #f7f7f7;}
.bus_all{display: block;background: url(../images/btn.png) repeat center;background-size: cover;color:#fff;font-size: 16px;text-align: center;/*position: fixed;left:10px;right:10px;bottom:10px;*/padding:10px 0;margin:10px;border-radius: 5px;}

/*检测仪实时数据*/
.data_num{padding:20px 0 20px 15px;background: #fff;margin:0;height: auto;overflow: hidden;border-bottom: 5px solid #F7F7F7;}
.data_num span{display: block;width: 31%;float: left;height: 70px;position: relative;padding-top: 24px;font-size: 10px;}
.data_num span:nth-child(1){width: 38%;}
.data_num span:nth-child(1):after{content: "";border-right:1px solid #ccc;height: 66px;position: absolute;right:0;top:0;}
.data_num span:nth-child(2){padding-left: 20px;}
.data_num span em{position: absolute;left:0;top:0;color:#999;}
.data_num span:nth-child(2) em{left:20px;}
.data_num span b{font-size:20px;font-weight: bold;color: #48B617;margin-right:30px;position: relative;}
.data_num span b:after{content:attr(data);position: absolute;right:-100px;top:-8px;font-size: 10px;color:#FF9313;font-weight: normal;text-align: left;width: 100px;}
.data_num span i{position:absolute;top:52px;font-size: 10px;color: #999;left:0;}