@charset "utf-8";/* CSS Document*/
html{background: #ffffff;color:#FFF;}
body{font-family: "微软雅黑";font-size: 12px;min-width: 320px;max-width: 750px;margin:0 auto;}
body,html{overflow: hidden;}
body{ margin:0 auto; padding:0px; font-size:12px;font-family: "Microsoft YaHei" ! important; /*text-align:center; */min-width: 320px; max-width: 640px;}
p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
i,em{font-style: normal;}
b{font-weight: normal;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;border:none;outline:none;}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;/*height:100%;*/}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a{text-decoration:none;color: #666;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);font-family: "Microsoft YaHei" ! important;}
*{box-sizing:border-box;}
.table{ display: table;}
.cell{ display: table-cell; vertical-align: middle;}


/*==========================================loading*/
#loading{position:absolute;top:0;left:0;width:100%;height:100%;z-index: 999;background: url(../images/wsload.gif) no-repeat center center #FFF;background-size: 10%;}
/*==============================================================音乐控制*/
#lanren{position: fixed;z-index: 3000;top: 20px;right: 25px;}
#lanren #audio-btn{width: 66px;height: 66px;background-size: 100% 100%;}
#lanren .on{background: url('../images/music_on.png') no-repeat 0 0;background-size: cover;-webkit-animation: rotating 1.2s linear infinite;animation: rotating 1.2s linear infinite;}
#lanren .off{background: url('../images/music_off.png') no-repeat 0 0;background-size: cover;}
@-webkit-keyframes rotating{from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
to{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotating{from{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
to{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}}
/*==============================================================*/
.swiper-container{width: 100%;height: 100%;}
.swiper-slide{font-size: 18px;background: #fff;width: 100%;height: 100%;position: relative;}
.arrar{position:fixed;bottom: 15px;left: 50%;margin-left: -23px;z-index: 888;animation:upDownBtn 1.5s infinite;animation:upDownBtn 1.5s infinite;-webkit-animation:upDownBtn 1.5s infinite;animation:upDownBtn 1.5s infinite;}
@-webkit-keyframes upDownBtn{0%{opacity:0;-webkit-transform:translateY(15px);transform:translateY(15px)}
    50%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}
    100%{opacity:0;-webkit-transform:translateY(-15px);transform:translateY(-15px)}}
@keyframes upDownBtn{0%{opacity:0;-webkit-transform:translateY(15px);-ms-transform:translateY(15px);transform:translateY(15px)}
    50%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100%{opacity:0;-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px)}}
/*弹出框增加*/
#tip .pack_yl{min-height: 200px;margin-top: 45%;}
#tip .pack_yl h1{font-size: 24px;margin-bottom:30px;}
#tip .pack_yl p{font-size: 24px;padding: 10px;padding-bottom: 80px;color: #000;}
#tip .pack_yl a{display: block;width: 100%;position: absolute;bottom: 0px;font-size: 24px;color: #c8161d;height: 80px;line-height: 80px;text-align: center;border-top: 1px solid #d6d6d6;}
/*============================*//*大背景*/
.yj_bbg{background:url(../images/public/bg1.jpg) no-repeat center bottom;background-size: cover;position: relative;height: 100vh;/*padding: 5% 0;*/}
.page1{background:url(../images/public/bg1.jpg) no-repeat center bottom;background-size: cover;}
.yj_bbg .yj_lbg{background:url(../images/p1/bg.jpg) no-repeat center center;background-size: cover;margin: 0 auto;width: 90%;height: 96vh;}
.youlebox .page1 .header{background: url(../images/p1/img1.png) no-repeat center center;min-height: 400px;margin-top: 5%;padding-top:70px;margin-bottom: 8%;}
.youlebox .page1 .header img{display: block;margin: 0 auto;}
.youlebox .page1 .yj_pz{width: 480px;margin: 0 auto;position: relative;}
.youlebox .page1 .yj_pz li{margin-bottom: 2%;margin-left: 50px;}
.youlebox .page1 .yj_pz .tong{position: absolute;top: 0;left: 0;}
.youlebox .page1 .yj03{position: absolute;bottom: 5%;width: 90%;}
.logo{position: absolute;top: 3em;left: 3em;width:200px;height: auto;}
.sbox{width: 600px;margin: 0 auto;}
.topbox{position: relative;}
.toptext{width: 100%;position: absolute;top:50%;}
.toptext p{text-align: center;font-size: 2em;color:#bde6ff;}
p.bigp{font-size: 4em;padding-top:10px;font-weight: bold;color:#fff;}
.centertext{margin-top: 2em;}
.centertext p{font-size: 2.8em;line-height: 1.2em;text-align: center;color:#bde6ff;font-weight: bold;}
.centertext p.smalltext{color: rgb(89, 199, 249);font-size: 1.5em;line-height: 1.5em;}
.mfzs img{display: block;width: 50%;margin: 0 auto;}
.car{left:-400px;position: absolute; bottom: 0;}
.page1 .footbox{display:block;transform: rotate(180deg); bottom: -150px; }
.page1 .footbox img{width: 100%;}
/*第2页样式开始*/
.page2{background:url(../images/p2/bg.jpg) no-repeat center bottom;background-size: cover;}
.centerimg{display: block;margin: 0 auto;}
.w5{width:30%;margin:5em auto 0;}
.text{text-align: center;font-size:2em;font-weight: bold;margin-top: 2em;}
.text p{margin-bottom: .5em;}
.footbox{position: absolute;bottom: 100px;width: 600px;text-align: center;}
.footbox p{color: rgb(214, 123, 3);font-size: 1.8em;}
/*第3页样式*/
.page3{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover;}
.page3 .p3_1{margin: 12% auto 5%;width: 70%;}
.page3 .ani{font-size: 1.6em;text-align: center;margin-bottom: .6em;}
/*.page3 .ani.plet{letter-spacing: -2px;}*/
.page3 .p3_2{display: block;margin:1.3em auto;}
.page3 h2.ani{font-size:2em;font-weight:bolder;color:#FF8400;margin:.6em auto 0;}
.page3 h3.ani{font-size: 2em;margin:2em auto 0;line-height: 1.3em;}
.page3 h3.ani b{font-size: 1.5em;color:#FF8400;}
/*第4页样式*/
.page4{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover;}
.p4_txt{font-size: 1.4em;line-height: 1.8em;color:#fff;text-align: center;}
.p_t1{margin-top: 3em;}
.p_t2{margin-top: 1.5em;text-align:left;}
.p_t2 p,.p_t2 h4{width:22em;margin:0 auto}
.p_t2 h4{text-align: left;}
.p_t2 b{color:#CB7301;display: inline-block;margin-right: 10px;}
.imgb{margin:1em auto;}

/*第5页样式*/
.page5{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover;}
.p5_box{width:100%;position: absolute;left:0;right:0;top:50%;margin-top: -300px;height: 600px;}
.p5_box img{position: absolute;left:0;top:0;width: 100%;}

/*第6页样式开始*/
.page6{background:url(../images/p6/bg.jpg) no-repeat center bottom;background-size: cover;}
.page6 .w5{width: 50%;}
.sbox{text-align: center;}
.pt{position: absolute; top:10px; left:20px;}
.pb{position: absolute;left: 50px;bottom: 80px;}
.p6top{position: relative;  margin-top:50px; margin-bottom:50px;}
.p6top p{position: absolute;margin-left: 50%; top:0; left: -200px;  font-size: 1.8em; width: 400px; height: 77px;line-height: 77px;font-weight: bold;}
.p6center{position: relative;}
.pc{position: absolute;z-index: -1;top:0;left: 0;width: 600px;  margin-left:-300px; left:50%; }
.p6car{margin-top: 30%;}
.p6text{font-size: 2.2em;color:rgb(214, 123, 3);padding:0 150px; font-weight: bold;}
.hg{position: absolute; top: -50px; left: 50px;}
.page6 .footbox{width: 400px;margin-left: -200px; left: 50%;}
.bigyellow{color: rgb(235, 255, 4);font-size: 1.5em;}
.bottomlight{position: absolute;bottom: -94px; left: 50px;z-index: -1;}
/*第七页样式开始*/
.page7 .p1{font-size: 2.4em ;color:#97ecb9; font-weight:bold;padding-top: 100px;}
.page7 .p2{font-size: 1.5em ;color:#fff; font-weight:bold;padding:20px 0;}
.page7 .p3{font-size: 1.2em ;color:#fff; font-weight:bold;padding-top:20px;}
.imgblock{display: block;margin: 0 auto;}
.w9{width: 90%;}
.page7 .footbox{bottom: 0px;}
/*第八页样式开始*/
.page8{background:url(../images/p8/bg.jpg) no-repeat center bottom;background-size: cover;}
.page8 p{margin: 10px 0;}
.page8 .p1{font-size: 2em ;color:#96EBB8; font-weight:bold;padding: 50px 0 20px;}
.page8 .p2{font-size: 1.5em ;color:#fff; font-weight:bold;}
.page8 .p3{font-size: 1.2em ;color:#fff; font-weight:bold;}
.page8 .p4{width: 350px;margin: 0 auto;padding: 30px 0;}
.page8 .p4 img{float: left;}
.page8 .car1{position: absolute; left: 10%; bottom:10px; width:40%;}
.page8 .car2{position: absolute; left: 44%; bottom:86px; width:30%;}
.page8 .car3{position: absolute; left: 50%; bottom:0px; width:40%;}
.page8 .car4{position: absolute; right:-100px; bottom:71px; width:30%;}
/*第9页样式开始*/
.page9{background:url(../images/public/bg3.jpg) no-repeat center bottom;background-size: cover;}
.page9 .p6center{padding: 170px 60px 0; width: 500px; height: 500px; box-sizing: border-box; margin: 0 auto;}
.page9 .p6text{color: #fff;padding: 0;font-size: 1.8em;}
.p9ul{text-align: left; font-size: 1.4em;line-height:1.6em; padding-left: 60px;}
.p9ul li img{float: left; padding-top: 18px; padding-right: 10px;}
.page9 .footbox{bottom: 10px; font-size: 1.4em;text-align: left; padding: 20px;}
/*第10页样式开始*/
.page10{background:url(../images/p10/bg.jpg) no-repeat center bottom;background-size: cover;}
.page10 .pc{width: 100%; left: 50%; margin-left: -50%;}
.page10 .p6top{margin-bottom: 10px;}
.page10 .p1{color: #96ECB9;font-size: 2em;}
.page10 .p10text{margin: 20px auto;width: 329px;}
.page10 .p10text p{font-size: 1.4em; text-align: left;}
/*第11页样式开始*/
.page11{background:url(../images/p11/bg.jpg) no-repeat center bottom;background-size: cover;}
.page11 h3{font-size: 2.2em;color: #199D64;font-weight: bold; padding-top:30px; padding-bottom: 20px;}
.page11 h3 span{color: #ccc;padding-left: 20px;}
.mydl{text-align: left;overflow: hidden;margin:40px 0 0 20px;}
.mydl dt,.mydl dd{float: left;width: 260px; height: 170px;}
.mydl dd{padding-left: 30px;}
.d1 p{font-size: 1.8em; line-height: 1.8em;}
.d2{font-size:1.8em;line-height: 170px;}
/*第12页样式开始*/
.page12{background:url(../images/public/bg1.jpg) no-repeat center bottom;background-size: cover;}
.page12 .sbox{text-align: left;}
.page12 h3{font-size: 2.2em;color: #199D64;font-weight: bold; padding-top:50px; padding-bottom: 20px;padding-left: 20px;}
.page12 p{font-size: 1.4em;font-weight: bold;line-height: 2.2em; padding-left:20px;}
.page12 img{margin: 50px auto;display: block;}
/*第13页样式开始*/
.page13{background:url(../images/p13/bg.jpg) no-repeat center bottom;background-size: cover;}
.page13 .sbox{text-align: left;}
.page13 h3{font-size: 2.2em;color: #199D64;font-weight: bold; padding-top:50px; padding-bottom: 20px;}
.page13 h3 span{color: #ccc;padding-left: 20px;}
.page13 h4{color: #666666;font-size: 1.8em;}
.page13 h3,.page13 h4{width: 530px;margin:0 auto;}
.mydl{text-align: left;overflow: hidden;margin:20px auto;color: #333;width: 530px;}
.mydl dt{float: left;width: 250px; height: 165px;}
.mydl dt img{width: 250px;height: 165px;}
.mydl dd{float: left;width: 250px; height: 165px;padding-left: 30px;color:#fff;}
.mydl dd.dd_bg{background: #fff;}
.d1 .p1{font-size: 1.4em; line-height: 1.2em; color: #55B785;margin-top: .5em;}
.d1 .p2{font-size: 1.2em; line-height: 1.2em;color: #EA9924;}
.d1 .p3{font-size: 1.2em; line-height: 1.3em;color: #666666;}
/*第14页样式开始*/
.page14{background:url(../images/p14/bg.jpg) no-repeat center bottom;background-size: cover;}
.page14 .pc{width: 100%; left: 50%; margin-left: -50%;}
.page14 .p6top p{font-size: 2.2em;}
.page14 .p6text {font-size: 2.2em;color: #48916C;padding: 0;font-weight: bold;}
.page14 .p6center{padding: 120px 60px 0;box-sizing: border-box; margin: 0 auto;}
.page14 .p1{font-size: 1.3em;color: #666;line-height: 1.6em;padding: 10px 20px;}
.page14 hr{height: 2px;background: #48916C;padding: 0;margin:10px 0;}
.page14 .p2{font-size: 1.8em; color: #46916C; font-weight: bold;}
/*第15页样式开始*/
.page15{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover; padding: 50px;box-sizing: border-box;}
.page15 .sbox{text-align: left;width: 100%; height: 100%;border: 3px solid #837022;}
.p15box{ padding: 25px 25px 0;  }
.page15 .p1{color: #96EBB8;font-size: 2.4em; margin-bottom:50px;}
.page15 p:not(.p1){font-size: 1.5em; margin-top: 30px;line-height: 1.6em;}
/*第16页样式开始*/
.page16{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover; padding: 50px;box-sizing: border-box;}
.page16 .sbox{text-align: left;width: 100%; height: 100%;border: 3px solid #837022;}
.page16 .p1{color: #d67b03;font-size: 2.4em; margin-bottom:50px; }
.page16 p:not(.p1){font-size: 1.5em; margin-top: 30px; }
.page16 b{color:#96EBB8;}
.c16{color:#96EBB8;}
.yellow{font-size: 1.4em; color: #D47901;padding: 0 5px;font-weight: bold;}
.mycar{width:70%;margin:0 auto;height: auto;display: block;}
/*第17页样式开始*/
.page17{background:url(../images/public/bg3.jpg) no-repeat center bottom;background-size: cover;}
.page17 .p6text {font-size: 2.2em;color: #48916C;padding: 0;font-weight: bold;}
.page17 .p6center{padding: 150px 60px 0;box-sizing: border-box; margin: 0 auto;}
.page17 .p1{font-size: 1.8em; font-weight:bold;color: #47916C;padding: 4px 20px;}
.page17 .p2{font-size: 1.2em;color: #666666; padding-bottom:10px;}
/*第18页样式开始*/
.page18{background:url(../images/p6/bg.jpg) no-repeat center bottom;background-size: cover;}
.page18 .p1{color:#7E868B;font-size: 1.3em;}
.page18 .p2{color: #48916C;font-size: 1.8em;margin:10px 0;}
.page18 .p3{color: #d67b03;font-size: 2.4em;font-weight: bold;padding:4px 0;}
.page18 .p4{color: #D67A02;font-size: 1.6em;font-weight: bold;padding-bottom:30px;}
.page18 .p5{color: #7E868B;font-size: 1.2em;padding:0 70px;}
.page18 .mydiv{padding:100px 50px 0;}
.page18 .foot{position: absolute;bottom: 60px;text-align: left;font-weight: bold;font-size: 1.2em;line-height:1.8em;padding: 0 30px;}
/*第19页样式开始*/
.page19{background:url(../images/p19/bg.jpg) no-repeat center bottom;background-size: cover;}
.page19 .p1{color: #0F4C79; font-size: 2.2em;width: 350px;margin:0 auto; padding-top: 110px;}
.page19 hr{height: 3px;background: #fff;padding: 0;margin: 0;border: none;margin: 20px 0;}
.page19 .p2{color: #333; font-size: 1.4em;}
.page19 .p6top p{color: #2B618A;}
/*第20页样式开始*/
.page20{background:url(../images/p20/bg.jpg) no-repeat center bottom;background-size: cover;}
.page20 .sbox{width: 100%;}
.page20 .img1{width: 100%;height: auto;}
.page20 .img2{position: relative; top:-110px;}
.page20 p{color: #666; font-size: 1.4em;line-height: 1.5em;padding: 0 50px;text-align: left; text-indent: 2em;position: relative; bottom:1em;}
/*第21页样式开始*/
.page21{background:url(../images/p21/bg.jpg) no-repeat center bottom;background-size: cover;}
.page21 input[type="text"]{background: #CBCED3;width: 70%; height: 56px;padding: 8px; border-radius:8px;display: block; margin: 30px auto;font-size: 1.4em;}
.page21 input[type="button"]{background: #2095EC; color:#fff;width: 70%; height: 80px; border-radius:8px;display: block; margin: 150px auto;font-size: 2.1em;}
.page21 .p1{font-size: 3.4em;margin: 100px 0 1em;}
.page21 .p2{font-size: 1.8em; margin: 20px 0;}
.page21 .p3{font-size: 1.4em;margin: 20px 0 100px;}
/*第22页样式开始*/
.page22{background:url(../images/public/bg3.jpg) no-repeat center bottom;background-size: cover;}
.page22 .p6center{margin-top: 100px;}
.page22 .p1{font-size: 2.8em;font-weight: bold; padding-top: 220px; line-height:1.5em;width: 420px;margin:0 auto;}
.page22 .p1 .pr{text-align: right;}
.page22 .p1 .pl{text-align: left;}
.page22 .pc{margin-left: -245px;}
.img4{position: relative; left: 20px;}
.clock{position: absolute; bottom: 0;width: 262px; left: 50%;margin-left: -131px;}
/*第23页样式开始*/
.page23{background:url(../images/public/bg2.jpg) no-repeat center bottom;background-size: cover;}
.page23 .p6center{width: 500px; position: absolute; height: 500px;top:50%; margin-top: -335px;left: 50%; margin-left: -250px;}
.page23 .p1{font-size: 1.6em;padding-top: 100px;}
.page23 hr{width:300px;height: 3px;background: #fff;padding: 0;border: none;margin: 20px auto;}
.phone{position:relative;top:8px;left:-10px;display: inline-block;width: 14px; height: 29px; background: url("../images/p23/phone.png") no-repeat center center;}
.page23 .foot{position: absolute; bottom: 3em;font-size: 1.4em;}
.page23 .yellow{font-weight: bold; padding:10px 0;font-size: 1.8em;}
.page23 .p2{margin-top: 35%;font-size: 1.3em;}
.page23 .p2 img{margin-bottom: 1em;width: 45%;}
/*分页显示*/
.swiper_page{position:absolute;right:10px;bottom:10px;text-align: right;font-size: 1.4em;z-index: 500;}
