<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.circle.mapper.CircleMapper">

    <resultMap id="CircleList_Map" type="com.ontheroad.circle.model.CircleModel">
        <id column="id" property="id"/>
        <result column="userId" property="userid"/>
        <result column="content" property="content"/>
        <result column="images" property="images"/>
        <result column="pathId" property="pathid"/>
        <result column="address" property="address"/>
        <result column="comment_count" property="commentCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collection_count" property="collectionCount"/>
        <result column="create_time" property="createTime"/>
        <association property="path" column="pathId"
                     select="com.ontheroad.mysql.path.mapper.PathUserMapper.getObjectById"/>
    </resultMap>

    <sql id="fileds">
        id, userId, content, images, pathId, address, comment_count, like_count, collection_count, create_time
    </sql>
    <!-- 请在此添加自定义方法（开始） -->

    <select id="getListByUserId" resultMap="CircleList_Map" parameterType="Integer">
        SELECT
        <include refid="fileds"/>
        FROM circle
        WHERE userId = ${userId}
    </select>

    <select id="getIndexListByUserId" resultMap="CircleList_Map" parameterType="Integer">
        SELECT
        <include refid="fileds"/>
        FROM circle
        WHERE userId = 1
        OR userId IN (
        SELECT friendId FROM concern WHERE userId = 1
        )
    </select>

    <!-- 请在此添加自定义方法（结束） -->
    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( userid )">
                AND userId = #{userid}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( content )">
                AND content = #{content}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( images )">
                AND images = #{images}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( pathid )">
                AND pathId = #{pathid}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( address )">
                AND address = #{address}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( commentCount )">
                AND comment_count = #{commentCount}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( likeCount )">
                AND like_count = #{likeCount}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( collectionCount )">
                AND collection_count = #{collectionCount}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( createTime )">
                AND create_time = #{createTime}
            </if>
        </where>
    </sql>
</mapper>