<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.circle.mapper.ReplyMapper">

    <!--<resultMap id="result_ResultMap_ReplyModel" type="com.ontheroad.circle.model.ReplyModel">-->
    <!--<id column="id" property="id"/>-->
    <!--<result column="circle_id" property="circleId"/>-->
    <!--<result column="user_id" property="userId"/>-->
    <!--<result column="content" property="content"/>-->
    <!--<result column="comment_id" property="commentId"/>-->
    <!--<result column="reply_user_id" property="replyUserId"/>-->
    <!--<result column="create_time" property="createTime"/>-->
    <!--<result column="nick" property="nick"/>-->
    <!--<result column="pic" property="pic"/>-->
    <!--</resultMap>-->

    <sql id="fields">
        reply.id,
        reply.circle_id circleId,
        reply.user_id userId,
        reply.comment_id commentId,
        reply.reply_user_id replyUserId,
        reply.content,
        reply.create_time createTime
    </sql>

    <!-- 请在此添加自定义方法（开始） -->
    <select id="findModelsByCondition" resultType="com.ontheroad.circle.model.ReplyModel">
        SELECT
        <include refid="fields"/>,
        pic,nick
        FROM reply LEFT JOIN `user` ON user_id = user.id
        <include refid="Model_Where_Clause"/>
    </select>

    <!-- 请在此添加自定义方法（结束） -->
    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( circleId )">
                AND circle_id = #{circleId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( commentId )">
                AND comment_id = #{commentId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( userId )">
                AND user_id = #{userId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( replyUserId )">
                AND reply_user_id = #{replyUserId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( content )">
                AND content = #{content}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( createTime )">
                AND create_time = #{createTime}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( commentIds )">
                AND comment_id in
                <foreach collection="commentIds" item="commentId" open="(" separator="," close=")">
                    #{commentId}
                </foreach>
            </if>
        </where>
    </sql>
</mapper>