@charset "utf-8";
/* css reset */
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,h1,h2,h3,h4,p,pre,form,legend,fieldset{margin:0;padding:0;}
body {font-family: "Microsoft YaHei",SimHei,SimSun;font-size: 12px;max-width:640px;min-width:320px;margin:0 auto;position:relative;}
ol,ul,li{list-style:none}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
img{border:0;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
td{padding:0;}
i,b,em{font-style:normal;}
b{font-weight:400;}
a{color:#333;text-decoration:none;}
input, textarea{outline:none; resize:none;}
*{ margin:0px; padding:0px;font-family: "Microsoft YaHei"}
button,input[type="button"],input[type="submit"]{ cursor:pointer;outline:none;-webkit-appearance: none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;-webkit-border:none;-moz-border:none;-webkit-outline:none;-moz-outline:none;border:none;outline:none;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#999;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#999;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */min-height:100%;font-family:"微软雅黑" medium sans-serif;}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;/*height:100%;*/width:100%;overflow-x:hidden;}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}
/* 浏览器重置 end */
html body .dis-bl{display:block;}
.pos-rel{position:relative;}
.dis-bl{display:block;}
.pr{position: relative;}
.content *{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.clearfix:before, .clearfix:after{display: table; content: "";}
.clearfix:after{clear: both;}
a{outline: medium none;text-decoration: none;}
a img{border: none;}
.fl{float: left;}
.fr{float: right;}
.spe{color: #e554ab;}
.fixed{ position: fixed; left: 0; top: 0px; z-index: 99999;}
.bg1{background:#fff;}
.bg2{background:#f2f2f2;}
.bg3{background:#f8f8f8;}
.color-3{color: #333;}
.color-6{color: #666;}
.color-9{color: #999;}
.color-white{color:#fff;}
.ft-12{font-size: 12px;}
.ft-14{font-size: 14px;}
.ft-16{font-size: 16px;}
.tone{color: #ff9595;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.pa{position:absolute;}


.f-nav{height: 50px;border-top:1px solid #e5e5e5;position:fixed;bottom:0;width:100%;left:0;right:0;background-color: #fff;z-index:9999;}
.f-nav a{display: block;width: 25%;height: 50px;float: left;}
.f-nav a i{display: block;width: 40px;height: 30px;background:url(../images/f-nav.png) no-repeat;background-size: 360px auto;margin:0 auto;}
.f-nav a p{text-align: center;font-size: 12px;color:#666;}
.f-nav a:nth-child(1) i{background-position: -13px 0;}
.f-nav a:nth-child(2) i{background-position: -156px 0;}
.f-nav a:nth-child(3) i{background-position: -231px -2px;}
.f-nav a:nth-child(4) i{background-position: -302px -2px;}
.f-nav a.on p{color: #ff9595;}
.f-nav a:nth-child(1).on i{background-position: -13px -58px;}
.f-nav a:nth-child(2).on i{background-position: -156px -58px;}
.f-nav a:nth-child(3).on i{background-position: -231px -60px;}
.f-nav a:nth-child(4).on i{background-position: -302px -60px;}
/*404*/
.page-404{width:100%;}
.page-404 img{width:80%;max-width:320px;margin:auto;display:block;margin-top:100px;}
/*center-page-header*/
.center-header{position:relative;border-bottom:1px solid #e5e5e5;}
.center-header h1{font-size:16px;text-align:center;line-height:40px;}
.center-header .go-back{position:absolute;width:12px;top:50%;margin-top:-10px;left:15px;}
@media screen and (max-width:320px) {
    .center-header h1 {font-size: 16px;}
    .center-header .go-back{width:10px;margin-top:-8px;}
}
/*加载更多*/
.load-box{padding-bottom:15px;background-color:#f2f2f2;}
.load-more{width:100%;text-align:center;border:none;height:32px;line-height:32px;color: #666;background: #f7f7f7;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;margin-top:-2px;}
.load-pic{height:25px;margin-top:4px;}
.jz-box{width:100%;text-align:center;height:32px;line-height:32px;color:#7f7f7f;background:#fff;border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;display:none;}
.m-notice{text-align:center;line-height:32px;font-size:13px;height:32px;display:none;}
.opacity{-webkit-animation: opacity 0.5s linear; animation: opacity 0.5s linear;}
@-webkit-keyframes opacity{0%{opacity: 0;} 100%{opacity: 1;} }
@keyframes opacity{0%{opacity: 0;} 100%{opacity: 1;} }

*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */}
*{box-sizing:border-box;-webkit-box-sizing:border-box;}

/*公共css*/
.wrap{width: 100%;}
.row{margin: 0 12px;}

/*boxs 盒子布局*/
.webkit_box{display: -webkit-box;display: -moz-box;display: box;}
.webkit_box .flex{display: block;-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;}

.clear{display:block;}
.clear:after{clear:both;display:block;visibility:hidden;height:0;content:".";}
.clear:before{clear:both;display:block;visibility:hidden;height:0;content:".";}
.text-1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.text-2{display:-webkit-box;overflow:hidden;width:100%;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.text-3{display:-webkit-box;overflow:hidden;width:100%;word-break:break-all;-webkit-line-clamp:3;-webkit-box-orient:vertical;}

.BL2ecd72 h2{border-left-color: #2ecd72}
.BL00c8df h2{border-left-color: #00c8df}
.BLf5c652 h2{border-left-color: #f5c652}
.BLff9547 h2{border-left-color: #ff9547}
.mb10{margin-bottom: 10px;}
.pr40{padding-right: 40px !important;}

.i_floor{background: #fff;margin: 0 10px;margin-top: 18px;border-radius: 10px;-webkit-border-radius: 10px;box-shadow: 0px 2px 2.85px 0.15px rgba(13, 2, 4, 0.23);-webkit-box-shadow: 0px 2px 2.85px 0.15px rgba(13, 2, 4, 0.23);}
.f_title{border-bottom: 1px #eee solid;height: 37px;padding: 10px 0 10px 10px;}
.f_title h2{border-left-width: 3px;border-left-style: solid;padding-left: 14px;font-size: 14px;line-height: 16px;color: #222;height: 16px;}

.f_show{position: relative;padding-right:20px;}

.bottom_nav{height: 50px;width: 100%;position: fixed;max-width: 640px;min-width: 320px;bottom: 0;z-index: 99;background: #68606f;}
/*rgba(0,0,0,.1)*/
.bottom_nav li{text-align: center;}
.bottom_nav li a{display: block;padding-top: 6px;height: 50px;}
.bottom_nav li i{display: block;width: 18px;height: 20px;margin: 0 auto;margin-bottom: 2px;}
.bottom_nav li.sy i{background: url(../img/bottom_nav.png) no-repeat 0 0;background-size: 36px auto;}
.bottom_nav li.zj i{background: url(../img/bottom_nav.png) no-repeat 0 -20px;background-size: 36px auto;}
.bottom_nav li.my i{background: url(../img/bottom_nav.png) no-repeat 0 -40px;background-size: 36px auto;}
.bottom_nav li.jqr i{background: url(../img/bottom_nav.png) no-repeat 0 -60px;background-size: 36px auto;}
.bottom_nav li.sy.on i{background: url(../img/bottom_nav.png) no-repeat -18px 0;background-size: 36px auto;}
.bottom_nav li.zj.on i{background: url(../img/bottom_nav.png) no-repeat -18px -20px;background-size: 36px auto;}
.bottom_nav li.my.on i{background: url(../img/bottom_nav.png) no-repeat -18px -40px;background-size: 36px auto;}
.bottom_nav li.jqr.on i{background: url(../img/bottom_nav.png) no-repeat 0 -60px;background-size: 36px auto;}
.bottom_nav li span{color: #b7b7b7;}/*68606f*/
.bottom_nav li.on span{color: #5ad4a3;}

.active_box{width: 100%;position: fixed;z-index: 10;bottom: 0;width: 100%;max-width: 640px;min-width: 320px;}
.active_btn{position:relative;}
.active_btn img{position:absolute;top:-20px;left:30px;width:60px;height:60px;border:2px #fff solid;border-radius:3px;}
.active_btn a{display: block;background: #18ae82;color: #fff;line-height: 50px;text-align: right;font-size: 16px;padding-right:20%;}
.active_btn.ss_mj a{background-image:url(../img/ss_bottom_bg.jpg);background-position:center;background-size:100% 100%;}
.active_btn.zz_mj a{background-image:url(../img/zz_bottom_bg.jpg);background-position:center;background-size:100% 100%;}
.erweima{width: 145px;margin: 20px auto 10px;}
.erweima img{display: block;width: 100%;}
.erweima p{text-align: center;color: #434343;font-size: 12px;margin-top: 10px;}

/*弹窗样式公共部分*/
.alert_box{position: fixed;top: 0;padding: 0 25px;height: 100%;width: 100%;max-width: 640px;min-width: 320px;background: rgba(0,0,0,0.4);display: none;z-index:10;}
.alert_box .alert_main{width: 100%;position: relative;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.alert_box .title_box{position: relative;height: 42px;background: #15d191;color: #fff;font-size: 16px;text-align: center;line-height: 40px;border-radius: 5px 5px 0 0;}
.alert_box .title_box h2{font-weight: bold;letter-spacing: 0.1em;}
.alert_box .main_box{background: #fff;padding: 25px;}
.alert_box .main_box p{font-size: 14px;color: #333;line-height: 16px;}
.alert_box .btn_box{background: #fff;padding: 15px 0;text-align: center;border-top: 1px #eee solid;border-radius: 0 0 5px 5px;}
.alert_box .btn_box a{background: #15d191;color: #fff;padding: 5px 10px;border-radius: 5px;}

i.close_btn{display: block;position: absolute;width: 20px;height: 20px;background: url(../img/close_btn.png) no-repeat center;background-size: 100% auto;right: 6px;top: 3px;}

/*弹窗*/
.wind_box{position: relative;z-index: 10;display: none;}
.wd_bg{background: rgba(0,0,0,.5);z-index: 15;position: fixed;left:0;right:0;top:0;bottom:0;}
.wd_cont{position: fixed;left:20px;right:20px;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);z-index:20;background: #fff;border-radius: 5px;color:#333;font-size: 13px;max-width: 640px;margin:0 auto;text-align: center;}
.wd_tit{background: #43D18E;color:#fff;text-align: center;font-size:15px;line-height:42px;border-radius: 5px 5px 0 0;}
.wd_txt{margin:20px;line-height: 26px;font-size: 13px;text-align: left;}
.wd_cont .close{position: absolute;right: 10px;top:10px;background: url(../img/wd_ico2.png) no-repeat;background-size:cover;width:20px;height: 20px;display: block;}
.wd_btn{display: -webkit-box;display:box;text-align: center;padding:0;background: #fff;border-top:1px solid #eee;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.wd_btn button{-webkit-box-flex:1.0;box-flex:1.0;background: #43D18E;color:#fff;font-size:14px;text-align: center;border:none;display: block;height: 36px;margin:10px 50px;border-radius: 5px;}
.wd_btn a{display: block;background: #43D18E;color:#fff;text-align: center;line-height: 42px;width: 100%;text-align: center;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;font-size: 15px;}
.wd_txt input.tx_input{width: 100%;border: 1px #eee solid;padding: 10px 0;padding-left: 70px;}
.wd_txt .tx_span{position: relative;color: #333}
.wd_txt .tx_span:after{content: '提现金额';display: block;width: 100px;height: 30px;position: absolute;left: 10px;top: -4px;}
.wd_txt strong{display: block;color: #000;font-weight: bold;line-height: 14px;font-size: 12px;margin-bottom: 10px;}

.status_box{background:#43D18E;color:#fff;font-size: 14px;text-align: center;padding: 40px 0 25px;border-top-right-radius: 5px;border-top-left-radius: 5px;}
.status_box.pno{padding-top: 25px;}
.status_box .suc{width: 116px;height: 67px;background: url(../img/wd_ico3.png) no-repeat center top;background-size: cover;position: absolute;left:50%;margin-left: -58px;top:-20px;}
.status_box .fail{width: 36px;height: 36px;background: url(../img/wd_ico1.png) no-repeat center top;background-size: cover;position: absolute;left:50%;margin-left: -18px;top:14px;}
.status_box h2{font-size: 18px;font-weight: normal;margin-bottom: 3px;}
.status_box p{font-size: 12px;padding:0 10px;}
.status_box p#desc .big{font-size: 30px;display: block;}
.status_box h4{display: inline-block;padding:0 30px;border-radius: 5px;background:#379E70;line-height: 28px;margin:15px 0 0;}
.status_inf{margin: 10px 30px;}
.status_inf p{padding-left:60%;text-align: left;font-size: 14px;position: relative;line-height: 30px;}
.status_inf p b{display: block;width: 40%;text-align: right;position: absolute;left:0;top:0;}
.status_txt{margin:30px;}
.status_txt p{font-size: 12px;color:#999;margin-bottom: 5px;}
.status_txt h4{font-size: 14px;line-height: 20px;}
.rule{padding:15px;padding-left: 50px;position: relative;border-top: 1px #ccc solid;}
.rule b{display: inline-block;color:#5DA2FF;}
.rule input{width: 40px;height: 40px;background: url(../img/ico_check1.png) no-repeat center;background-size: 14px 14px;position: absolute;left: 12px;top:50%;margin-top: -20px;}
.rule input:checked{background: url(../img/ico_check2.png) no-repeat center;background-size: 14px 14px;}

.quan_img{margin:0 20px;position: relative;text-align: left;}
.quan_img img{width: 100%;}
.quan_img .quan_inf{position:absolute;left:1.18rem;top:0.43rem;}
.quan_img .quan_inf h4{font-size:0.26rem;color: #747474;margin-bottom:0.2rem;}
.quan_img .quan_inf p{font-size:0.2rem;color: #999;}

.wd2{z-index: 30;}
.wd1,.wd2,.wd3,.wd4,.wd5,.wd6,.wd8,.wd9,.wd10,.wd11,.wd12{display:none;}



.tx_btn_box button{margin: 10px 20px;}


.quan{background: #F7F7F7;}
.quan .bottom_nav{background: #F2F2F2;border-top: 1px solid #eee;}

.quan_window{position: fixed;left:0;width: 100%;bottom:0;top:0;background: rgba(0,0,0,.75);z-index: 200;}
.quan_wrap{position: fixed;left:20px;right:20px;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);max-width: 640px;margin:0 auto;}
.q_img{width: 100%;}
.quan_close{position:absolute;right:10px;top:10px;background: url(../img/quan_close.png) no-repeat;width:28px;height: 28px;background-size: cover;}
.quan_cont{background:#F51E22;padding:20px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.quan_cont img{width: 100%;margin-bottom: 20px;}
.quan_pic{position: relative;}
.quan_pic .quan_inf{position:absolute;left:1.18rem;top:0.43rem;}
.quan_pic .quan_inf h4{font-size:0.26rem;color: #747474;margin-bottom:0.2rem;}
.quan_pic .quan_inf p{font-size:0.2rem;color: #999;}
.quan_cont a{display: block;border-radius: 20px;background: #FACC00;color:#fff;height:42px;line-height: 42px;border-bottom: 3px solid #D0AA00;text-align: center;font-size: 15px;transition: all .4s ease;-webkit-transition: all .4s ease;}
.quan_cont a:hover{opacity: .85;}

.quan_tip{margin:0;padding:0 20px 20px;color:#666;font-size: 13px;line-height: 20px;text-align: left;}
.quan_tip h4{color:#333;margin: 8px 0;}

.quan_box{margin: 0 20px 80px;}
.quan_box li{margin-bottom: 20px;position: relative;}
.quan_box li .quan_inf{position:absolute;left:1.35rem;top:0.47rem;}
.quan_box li .quan_inf h4{font-size:0.28rem;color: #747474;margin-bottom:0.2rem;}
.quan_box li .quan_inf p{font-size:0.24rem;color: #999;}
.quan_box li img{width: 100%;}
.quan_rule{z-index: 100;}

.quan_tit{padding:10px 20px;text-align: right;}
.quan_tit i{display: inline-block;padding-left: 25px;color:#979797;background: url(../img/quan_tip.png) no-repeat left center;background-size: 20px 20px;line-height: 20px;}
