@charset "utf-8";
body{ margin:0 auto; padding:0px; font-size:12px;font-family: "Microsoft YaHei" ! important; /*text-align:center; */min-width: 320px; max-width: 640px;}
p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
i,em{font-style: normal;}
b{font-weight: normal;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除IE下radio、checkbox默认样式 */
::-ms-check{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{-webkit-appearance:none;border:none;outline:none;}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;/*height:100%;*/}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a{text-decoration:none;-webkit-touch-callout:none; color: #666;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);font-family: "Microsoft YaHei" ! important;}
*{box-sizing:border-box;}
body{ background:#f5f5f5;font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
.table{ display: table;}
.cell{ display: table-cell; vertical-align: middle;}


/*向右链接箭头*/
.into{ position: relative;}
.into:after{content:""; top:50%; margin-top:-7px; position:absolute;right:10px; width:8px; height:14px;background-image: url(../images/ico_into.png);background-repeat: no-repeat;background-position: right center;background-size: 8px auto;}
.into2{ position: relative;}
.into2:after{content:""; top:50%; margin-top:-9px; position:absolute;right:10px; width:12px; height:18px;background-image: url(../images/ico_into2.png);background-repeat: no-repeat;background-position: right center;background-size: 12px auto;}

/*1px边框*/
.bboth{background-image: url(../images/solid_t.png),url(../images/solid_b.png);background-repeat: repeat-x;background-position:top,bottom;background-size: 1px auto;}
.ball{background-image: url(../images/solid_t.png),url(../images/solid_r.png),url(../images/solid_b.png),url(../images/solid_l.png);background-repeat: repeat-x,repeat-y,repeat-x,repeat-y;background-position:top,right,bottom,left;background-size: 1px auto;}
.bt{background-image: url(../images/solid_t.png);background-repeat: repeat-x;background-position: top;
    background-size: 1px auto;}
.br{background-image: url(../images/solid_r.png);background-repeat: repeat-y;background-position: right;
    background-size: 1px auto;}
.bb{background-image: url(../images/solid_b.png);background-repeat: repeat-x;background-position: bottom;   background-size: 1px auto;}
.bl{background-image: url(../images/solid_l.png);background-repeat: repeat-y;background-position: left; background-size: 1px auto;}

.fr{float: right;}
.fl{float: left;}

footer{display: block;position:fixed;left:0;bottom:20px;right:0;text-align: center;font-size: 14px;color: #666;}

*{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}
body{position: relative;}
.menu{width: 100%;overflow: hidden;}
.menu li{background-color: #d2d2d2;float:left;width:50%;padding: 10px 0;text-align: center;color: #fff;font-size: 14px;border-right: 1px solid #c3c3c3;position: relative;}
.menu li i{position: absolute;width: 0;height: 0;border-color: transparent;border-style: solid;border-bottom-color: #fff;border-width: 0 9px 9px;margin-left: -9px;bottom:-4px;left:50%;display: none;}
.menu li.selected i{border-bottom-color:#f5f5f5;display: block;}
.menu li a{display: block;}
header{position: fixed;left:0;top:0;right:0;background-color:#55B700;height: 48px;line-height: 48px;text-align: center;color: #fff;font-size: 16px;z-index: 10;}
header a.back_a{display: inline-block;background: url(../images/back.png) no-repeat 10px center;width:42px;height: 48px;background-size: 26px 26px;position: absolute;left: 0;top:0;}
header span{position: absolute;right: 20px;display: none;}

.health_tip{padding:15px 10px;background: #ededed;font-size: 14px;color:#666;position: relative;}
.health_tip b{position: absolute;right:10px;top:10px;background: #ff6f3d;color:#fff;font-size: 14px;padding:4px 8px;border-radius: 20px;}
.user_inf{position: relative;padding:20px 30px 10px 140px;background: #fff;height: 160px;}
.user_inf span{position: absolute;left:10px;top:10px;background: url(../images/woman.png) no-repeat center;background-size: 120px 120px;width: 120px;height:120px;}
.user_inf span.man{background: url(../images/man.png) no-repeat center;background-size: 120px 120px;}
.user_inf h4{font-size: 16px;color:#333;border-bottom: 1px solid #eee;line-height: 16px;padding-bottom: 5px;}
.user_inf h4 b{display: inline-block;border-right: 1px solid #eee;padding:0 10px 0;margin:0 10px 5px 0;}
.user_inf h4,.user_inf p{margin-bottom: 8px;}
.user_inf p{color:#a3a3a3;font-size: 12px;}
.user_inf p b{font-size: 16px;display: inline-block;margin-left: 10px;}
.user_inf p b.color1{color:#62cdff;}
.user_inf p b.color2{color:#ffae00;}
.user_inf p b.color3{color:#fe553f;}
.user_inf p b.color1:after,.user_inf p b.color2:after{font-size: 10px;margin-left:4px;}
.user_inf p b.color1:after{content: "kg";color:#a3a3a3;}
.user_inf p b.color2:after{content: "%";color:#a3a3a3;}
.health_tit{font-size: 14px;color:#666;padding:10px;background: #ededed;}
.health_des{background: #f5f5f5;padding-bottom:0px;}
.health_des .health_list{border-bottom: 1px solid #eee;padding:0;}
.health_des .health_list h4,.health_des .health_list a,.health_des .health_list1 a{display: block;position: relative;background: #fff;padding:0 15px 0 50px;font-size: 12px;color:#333;height: 50px;line-height: 50px;}
.health_des .health_list i,.health_des .health_list1 i{position: absolute;left:10px;top:10px;width:30px;height: 30px;}
.health_des .health_list i.ico1{background: url(../images/ico1.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico2{background: url(../images/ico2.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico3{background: url(../images/ico3.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico4{background: url(../images/ico4.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico5{background: url(../images/ico5.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico6{background: url(../images/ico6.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico7{background: url(../images/ico7.png) no-repeat center;background-size: cover;}

.health_des .health_list i.ico9{background: url(../images/ico9.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico10{background: url(../images/ico10.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico11{background: url(../images/ico11.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico12{background: url(../images/ico12.png) no-repeat center;background-size: cover;}
.health_des .health_list i.ico13{background: url(../images/ico13.png) no-repeat center;background-size: cover;}
.health_des .health_list a:after{content:"";transform:rotate(-90deg);-webkit-transform:rotate(-90deg);display: block;position: absolute;right:10px;top:18px;background:url(../images/into1.jpg) no-repeat center;background-size:cover;width: 14px;height: 14px;}
.health_des .health_list1{border-bottom: 1px solid #eee;padding:0;}
.health_des .health_list1 i.ico8{background: url(../images/ico8.png) no-repeat center;background-size: cover;}
.health_des .health_list1 a:after{content:"";transform:rotate(-90deg);-webkit-transform:rotate(-90deg);display: block;position: absolute;right:10px;top:18px;/* background:url(../images/into1.jpg) no-repeat center; */background-size:cover;width: 14px;height: 14px;}
/* .health_des .health_list h4:after{content:"";position: absolute;right:10px;top:18px;background:url(../images/into1.jpg) no-repeat center;background-size:cover;width: 14px;height: 14px;} */
/* .health_des .health_list.on h4:after{background:url(../images/into2.jpg) no-repeat center;background-size:cover;} */
.health_des .health_list b,.health_des .health_list1 b{display: inline-block;width:75px;}
.health_des .health_list span,.health_des .health_list1 span{display: inline-block;width:75px;text-align: left;}
.health_des .health_list em,.health_des .health_list1 em{display: inline-block;padding:4px 10px;background: #8ad947;color:#fff;font-size: 12px;line-height: 14px;border-radius: 10px;}
.health_des .health_list em.blue,.health_des .health_list1 em.blue{background: #8bd1f9;}
.health_des .health_list em.red,.health_des .health_list1 em.red{background: #FF7E65;}
.health_des .health_list .health_cont，.health_des .health_list1 .health_cont{padding:0;line-height: 18px;font-size: 13px;color:#434343;display: none;}
.health_des .health_list .health_cont h3{position: relative;padding:0 10px;border-top: 1px solid #eee;position: relative;line-height: 46px;}
.health_des .health_list .health_cont h3 b{position: absolute;right:10px;top:13px;background: #e1e1e1;color: #555;padding:2px 6px;border-radius: 20px;font-size: 13px;line-height: 16px;}
.health_des .health_list.on .health_cont{display: block;}
.health_cont p{padding:0 10px 10px;line-height: 18px;}
.health_cont p.spe{padding-top: 10px;}

.btn{position: fixed;left:0;right:0;bottom:0;background:rgba(0,0,0,.15);padding:10px;}
.btn a{display: block;background: #ff6f3d;color:#fff;border-radius: 20px;font-size: 16px;padding:0;text-align: center;width: 100%;height: 40px;line-height: 40px;}