body{ margin:0 auto; padding:0px; font-size:12px;font-family: "Microsoft YaHei" ! important; /*text-align:center; */min-width: 320px; max-width: 640px;}
p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,select,button,label{vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul,dl,ol{list-style:none;}
i,em{font-style: normal;}
b{font-weight: normal;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
select::-ms-expand{display:none;}
::-ms-check{display:none;}
input, textarea, select{-webkit-appearance:none;border:none;outline:none;}
input:-moz-placeholder{color:#C4C4C4;}
::-webkit-input-placeholder{color:#C4C4C4;}
html,body{-webkit-text-size-adjust:none;/*height:100%;*/}
a,button,input{-webkit-touch-callout:none;outline:none;}
a{text-decoration:none;-webkit-touch-callout:none; color: #666;}
*{-webkit-tap-highlight-color:rgba(255,0,0,0);font-family: "Microsoft YaHei" ! important;}
*{box-sizing:border-box;}
a,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,th,td,menu,article,pre,xmp,plaintext,listing,em,span,i,b{-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
img{vertical-align: bottom;}
body{ background:#f5f5f5;font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;}
.table{ display: table;}
.cell{ display: table-cell; vertical-align: middle;}


/*向右链接箭头*/
.into{ position: relative;}
.into:after{content:""; top:50%; margin-top:-7px; position:absolute;right:10px; width:8px; height:14px;background-image: url(../images/news/ico_into.png);background-repeat: no-repeat;background-position: right center;background-size: 8px auto;}
.into2{ position: relative;}
.into2:after{content:""; top:50%; margin-top:-9px; position:absolute;right:10px; width:12px; height:18px;background-image: url(../images/news/ico_into2.png);background-repeat: no-repeat;background-position: right center;background-size: 12px auto;}

footer{display: block;position:fixed;left:0;bottom:20px;right:0;text-align: center;font-size: 14px;color: #666;}

body{position: relative;}
.menu{width: 100%;overflow: hidden;}
.menu li{background-color: #d2d2d2;float:left;width:50%;padding: 10px 0;text-align: center;color: #fff;font-size: 14px;border-right: 1px solid #c3c3c3;position: relative;}
.menu li i{position: absolute;width: 0;height: 0;border-color: transparent;border-style: solid;border-bottom-color: #fff;border-width: 0 9px 9px;margin-left: -9px;bottom:-4px;left:50%;display: none;}
.menu li.selected i{border-bottom-color:#f5f5f5;display: block;}
.menu li a{display: block;}
header{position: fixed;left:0;top:0;right:0;background-color:#55B700;height: 48px;line-height: 48px;text-align: center;color: #fff;font-size: 16px;z-index: 10;min-width: 320px;max-width: 640px;margin:0 auto;display: none;}
header a.back_a{display: inline-block;background: url(../images/news/back.png) no-repeat 10px center;width:42px;height: 48px;background-size: 26px 26px;position: absolute;left: 0;top:0;}
header span{position: absolute;right: 20px;display: none;}

.bg{background:#D4F5FF url(../images/news/cos_bg.jpg) no-repeat center top;background-size: cover;}
.bg2{background: #F3F3F3;}
.bg3{background:#D4F5FF url(../images/news/upload_bg.jpg) no-repeat center top;background-size: cover;}
.cos_box{display: block;padding:0 0 20px;}
.cos_box p{font-size: 14px;padding:20px 25px;}
.cos_img{width: 100%;}
.cos_img_box{padding:0 10px;text-align: center;}
.cos_img_box img{display: inline-block;width: 28%;margin:5px 1.5%;padding:3px;background: #fff;border-radius: 5px;}

.guess_box{}
.guess_box img{width: 100%;}
.guess_box p{color:#fff;font-size: 14px;padding:10px;}
.guess_box p.p1{background:#ED304E; }
.guess_box p.p2{background:#FF3400; }

.test_box li{padding:0 10px;height: auto;overflow: hidden;}
/*.test_box li:hover{background-color: #fff;}*/
.test_box li h4{font-size:15px;color: #555867;padding: 15px 0 0}
.test_box li .test_inf{font-size: 12px;color: #6F7487;margin:10px 10px 0 20px;overflow: hidden;transition:all .2s ease;-webkit-transition: all .2s ease;}
.test_box li .test_inf label{display:block;position: relative;padding-left: 25px;}
.test_box li .test_inf label b{width:100px;height: 24px;line-height: 24px;font-size: 13px;display: inline-block;transition:all .2s ease;-webkit-transition: all .2s ease;overflow: hidden;}
.test_box li .test_inf label input{position: absolute;left:0;top:0;width: 100%;height: 24px;}
.test_box li .test_inf label input:before{content: "";position: absolute;left:0;top:4px;width:12px;height:12px;background:#F3F3F3;border:2px solid #ddd;border-radius: 50%;-webkit-border-radius:50%;opacity:1;display: block;}
.test_box li .test_inf label input:checked:before{background: #34A02C;}
.test_btn{display: block;text-align: center;margin:30px 0;}
.test_btn button{width:122px;height:44px;margin:0;background: url(../images/news/jc_btn.png) no-repeat center;background-size: cover;margin:0 15px;font-size: 16px;font-weight: bold;color:#333;border-radius: 20px;}

.guess_bg{width: 100%;position:fixed;left:0;bottom:0;right:0;min-width: 320px;max-width: 640px;margin:0 auto;}
.guess_load{width: 70%;margin:20px 15%;}
.guess_cont{text-align: center;}
.guess_cont p{padding:20px;font-size: 14px;text-align: left;}
.guess_cont a{display: inline-block;width: 199px;height: 48px;line-height: 48px;background: url(../images/news/jc_btn2.png) no-repeat center;background-size: cover;margin:30px auto 0;font-size: 14px;font-weight: bold;color:#333;}

.news_box{color:#666;}
.news_box h1{font-size: 20px;text-align: center;margin: 20px 10px 10px;}
.news_cont{line-height: 18px;font-size: 13px;padding:10px;}
.news_cont img{max-width: 100%;margin:10px 0;}
.news_comment{margin:30px 0 60px;background: #fff;}
.news_comment_list{padding:0 10px;font-size: 13px;height: auto;overflow: hidden;}
.news_comment_list h3{border-bottom:1px solid #eee;position: relative;padding-left: 40px;height: 40px;line-height: 40px;font-size: 13px;}
.news_comment_list h3 img{position: absolute;left:0;top:5px;width: 30px;height: 30px;border-radius: 50%;}
.news_comment_list h4{padding:10px 0;line-height: 18px;}
.news_comment_list p{text-align: right;color:#ddd;margin-bottom: 10px;}
.comment_box{position:fixed;left:0;right:0;bottom:0;padding:5px 70px 5px 10px;height:40px;background: #F3F3F3;}
.comment_box textarea{width: 100%;height:30px;padding:5px;border:none;border-radius: 0;line-height: 18px;font-size: 13px;}
.comment_box button{position: absolute;right:10px;top:5px;background:#EAEAEA;color:#666;text-align: center;line-height: 30px;width:60px;line-height: 31px;font-size: 14px;}

.banner_box{position: relative;}
.swiper-container{margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;}
.swiper-wrapper{position:relative;width:100%;-webkit-transition-property:-webkit-transform, left, top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;transition-property:transform, left, top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;}
.swiper-free-mode > .swiper-wrapper{-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;margin: 0 auto;}
.swiper-slide{float: left;}
.swiper-wrapper a{position: relative;display: block;}
.swiper-wrapper a p{position: absolute;left:0;bottom: 0;width: 100%;background: rgba(0,0,0,.5);color:#fff;font-size: 14px;padding:5px 10px 15px;line-height: 18px;}
.swiper-wp8-horizontal{-ms-touch-action: pan-y;}
.swiper-wp8-vertical{-ms-touch-action: pan-x;}
.pagination{position:absolute;left:0;text-align:center;bottom:5px;width:100%;z-index:10;}
.swiper-pagination-switch{display:inline-block;width:5px;height:5px;border-radius:50%;background:#fff;margin:0 3px;cursor:pointer;}
.swiper-active-switch{background:#FF3400;}

.news_nav{display: block;border-bottom: 1px solid #C8C8C8;height: 32px;padding:0;text-align: center;}
.news_nav span{width: 50%;float: left;height: 32px;line-height: 32px;position: relative;font-size: 14px;color:#444;}
.news_nav span b{width:92px;height: 32px;position: absolute;left:50%;margin-left: -46px;bottom:0;}
.news_nav span.on b{background: url(../images/news/jc_nav.png) no-repeat center bottom;background-size:auto 2px;}
.news_nav span:nth-child(1):after{content: "";width: 1px;border-left: 1px solid #C8C8C8;height:14px;position: absolute;right:0;top:5px;}
.news_group{display: block;margin:10px 10px 0;}
.news_group a{display: block;margin:0 0 10px;background: #fff;box-shadow: 0 2px 2px #ddd;position: relative;padding:7px 10px 10px 105px;height: 67px;font-size: 14px;color:#878B9B;}
.news_group a img{position: absolute;left:0;top:0;width: 94px;height: 67px;}
.news_group a p{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp:2;color:#999;font-size: 12px;}
.news_group a h4{display: -webkit-box;overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp:1;}

.upload_box{padding:40px 10px 20px;color:#333}
.upload_box h1{font-size: 15px;}
.upload_box p{font-size: 13px;line-height: 18px;margin:10px 0;}
.upload_box textarea{width: 100%;height: 120px;padding:10px;font-size: 13px;color:#666;line-height:18px;margin:10px 0;border:1px solid #ddd;}
#output,.output{display: inline-block;float: left;}
#output img,.output img{width: 94px; height: 64px; margin-bottom: 15px; margin-right: 15px; border-radius: 5px;border:3px solid #fff;}
.fileItem{display: inline-block;position: relative;}
.filePItem{margin-right: 5px;float: left;position: relative;}
.fileItem input, .filePItem input{display: none;}
#output .s_img{ display: inline-block; position: relative; margin-right: 15px; margin-bottom: 10px;}
#output .s_img img{ margin-right: 0; margin-bottom: 0;}
#output .s_img i, .fileItem i, .filePItem i{ display: inline-block; position: absolute;right:-10px; top: -12px; background: url(../images/news/close.png) no-repeat;background-size: 18px 18px; width:24px; height: 24px; cursor: pointer;}
#addpic{width: 94px;height: 64px;background:url(../images/news/jc_add.png) no-repeat center center; background-size: 32px 32px;border: 3px solid #fff; border-radius: 4px;display: inline-block;cursor: pointer; position: relative;overflow: hidden;}
#addpic input{position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';
  font-size: 200px;direction: ltr;cursor: pointer;}
.fileItem i, .filePItem i{right: 5px;top: -10px;}
.fileItem:hover i, .filePItem:hover i{display: inline-block;}
.file_btn{text-align: center;position: fixed;left:0;right:0;bottom:0;background:#b9eefb;padding:10px 0;}
.file_btn button{width:232px;height: 43px;background: url(../images/news/jc_btn3.png) no-repeat center;background-size: cover;margin:0 auto;color:#fff;font-size: 14px;font-weight: bold;}
.file_box{margin-bottom: 50px;}
.upload_window{background: #fff;width: 220px;height:100px;background: #fff;position:fixed;left:50%;;margin-left: -110px;top:50%;margin-top: -50px;font-size: 14px;color:#333;padding:15px 10px;border-radius: 5px;z-index: 100;line-height: 22px;display: none;}
.upload_window img{position: absolute;right:5px;top:-26px;width:120px;}
.shade{position: fixed;left:0;top:0;bottom:0;width: 100%;height: 100%;background:rgba(0,0,0,.5);z-index: 99;display: none;}

.load-more{text-align: center;color:#999;padding:0 0 10px;}