/*by zhangzhongdi*/
@charset "utf-8";
body{background: url(../images/bg-body.jpg) repeat;}
/*invitation页面的样式*/
.content{position: relative;width: 300px;height: 480px;margin: 10px auto;padding: 80px 40px;background: url(../images/bg-content.jpg) center center no-repeat;background-size:300px 480px;box-sizing: border-box;}
.content p{line-height: 20px;color: #ac7c53;}
.line{height: 10px;margin: 15px 0;border-top: 2px solid #b48864;border-bottom: 4px solid #b48864;}
.check_num{width:300px;margin: 0 auto;display: block;position: relative;top: 10px;text-align: right;}
.notice{text-align: center;color: red;margin-top:20px; }
.bottom_btn{display: block;width: 90%;max-width:400px;height: 40px;line-height: 40px;margin: 20px auto;text-align: center;background-color: #19b955;-webkit-border-radius: 5px;border-radius: 5px;color: #fff;letter-spacing: 10px;}
.suojin{text-indent: 2em;}

/*baoming页面的样式*/
input{display: block;width: 90%;max-width:400px;height: 40px;margin: 30px auto 0;padding: 10px;border:1px solid #b1b1b1;border-radius: 5px;-webkit-border-radius: 5px;color: #666;} 
select{display: block;width: 90%;max-width:400px;height: 40px;margin: 30px auto 0;padding: 10px;border:1px solid #b1b1b1;border-radius: 5px;-webkit-border-radius: 5px;color: #666;}
select option{height: 30px;line-height: 30px;}
#submit_btn{display: block;width: 90%;max-width:400px;height: 40px;line-height: 40px;margin: 20px auto;text-align: center;background-color: #909090;-webkit-border-radius: 5px;border-radius: 5px;color: #fff;letter-spacing: 10px;}
	/*按钮激活的class样式*/
#submit_btn_on{display: block;width: 90%;max-width:400px;height: 40px;line-height: 40px;margin: 20px auto;text-align: center;background-color: #19b955;-webkit-border-radius: 5px;border-radius: 5px;color: #fff;letter-spacing: 10px;}

/*renyuan页面的样式*/
.title{text-align: center;color: #494949;margin-top: 20px;}
.name_title{padding: 20px 20px 0;color: #666;}
.name_data{padding: 10px 30px; color: #777;}
.name_data .data_item{height:26px;line-height: 26px;}
.name_data .name{float: left;width: 30%;padding-right: 10px;box-sizing: border-box;}
.name_data .job{float: left;width: 35%;text-align: left;padding-right: 10px;box-sizing: border-box;}
.name_data .date{float: left;width: 25%;text-align: right;padding-right: 3px;box-sizing: border-box;}
.name_data .time{float: right;width: 10%;text-align: right;}

/*公共页面的样式*/
.f8{font-size: 8px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}