
.submenu{color: #d9dbe2;font-size: 14px;text-align: center;padding: 6px 0;overflow: hidden;background-color: #fff;}
.submenu li{width: 33.33%;float: left;border-right: 1px solid #f0f0f0;padding: 6px 0;}
.submenu .active{color:#55B700;}
.sh li{width: 50%;}
li:last-of-type{border-right: none;}
#chart{background-color: #fff;}
.info{padding:10px;overflow: hidden;}
.tile .name,.tile .name .time,.tile .name .bf{padding: 0;font-size: 16px;color: #5a5c64;}
.tile .tile-desc{color: #acb3c0;}
.tile span{font-size: 20px;display: inline-block;padding:0;color: #545a67;}
.tile span.dw{display: inline-block;line-height: 10px;font-size: 10px;color: #acb3c0; padding-right: 0;}
.tile span.unit{padding: 0 0 0 20px;float: right;display: inline-block;line-height: 10px;font-size: 10px;color: #acb3c0;}
.tile .status,.tile .status1,.tile .status2{display: inline-block;padding: 2px 4px;background-color: #78d623;color: #fff;border-radius: 4px;font-size: 12px;}
.tile .abnormal{background-color: #fe7b40;}
/*.item:last-of-type{display: none;}*/
.title{padding: 10px;font-size: 14px;color: #5b5b65;overflow: hidden;}
.circle{display: inline-block;width: 8px;height: 8px;border-radius: 50%;margin-right: 6px;}
.bpie{background-color: #4ca4e4;}
.gpie{background-color: #76d625;}
.rpie{background-color: #fa605d;}
.half{width: 50%;padding-right: 10px; }
#j7day, #j30day{background-color: #fff;}
.hpie, .item-desc{overflow: hidden;}
.hpie{padding: 15px 0;
  display: flex;
  align-items: center;
}
.title .unit, .item-desc .unit{line-height: 18px;color: #acb3c0;font-size: 12px;}
.item{display: none;}
.item-desc{padding: 10px; }
.item-desc.last{padding-bottom: 0;}
.item-desc .fl,.item-desc .fr{padding-right: 0;}
.pt3{padding-top: 3px;}
.chart-desc li{font-size: 12px;padding-bottom: 6px;}
.chart-desc, .right{padding-left: 15px;}
.hval, .sval{color: #575758;}
.hval{font-size: 14px;}
.sval{font-size: 14px;color: #545a67;}
#j7chart{height: 110px;}
.artical_cont{padding:10px;}
.art_tit{text-align: left;font-size:15px;color: #555767;}
.art_tip{color: #999FB3;font-size:13px;padding: 10px 0;}
.art_tip i{float: right;}
.art_tip span{padding-left: 15px;display: inline-block;background: url(../images/art_ico.png) no-repeat left center;background-size: 11px 12px;}
.art_inf{text-align:center;font-size: 14px;color: #6F7387;line-height: 22px;}
.art_inf img{max-width: 100%;margin:0 auto 10px;vertical-align: bottom;}
.art_txt{text-align: left;}
.art_txt p{text-indent: 28px;}

.item_box{margin-bottom: 10px;}
.user_inf{display: block;background-color: #fff;padding:17px 15px 15px 75px;font-size: 15px;color: #555867;position: relative;}
.user_inf img{width: 48px;height: 48px;border-radius: 50%;position:absolute;left:15px;top:15px;}
.user_inf p{font-size: 13px;color: #9a9fb3;padding-top: 5px;}

.download{display: block;background-color:#fbfbfb;color:#555;font-size:15px;padding:15px;text-align: center;}
.download h4 i{font-size: 13px;}
.download p{color: #666;font-size: 12px;padding:5px 10px;}
.download h2{font-size: 15px;padding:0;height: auto;overflow: hidden;}
.download h2 a{display: inline-block;width:46%;margin:0 2%;height:42px;line-height: 42px;color:#46e2a5;background-color: #fff;border:1px solid #46e2a5;border-radius:20px;float: left;}

.charts_group{display: block;height:auto;overflow: hidden;background-color: #fff;margin:10px 0;padding:10px 0;}
.charts_group li{width: 20%;float: left;text-align: center;margin:10px 0;font-size: 9px;position: relative;}
.charts_group li canvas{margin:0 auto;-webkit-transform:rotate(90deg);transform:rotate(90deg); height: auto;}
.charts_group li em,.charts_group li i,.charts_group li span{display: block;}
.charts_group li b{font-size:9px;}
.charts_group li em{color: #78d623;font-size: 13px;position: absolute;left:50%;margin-left: -20px;top:16px;width:40px;line-height: 9px;}
.charts_group li:nth-of-type(2) em,.charts_group li:nth-of-type(6) em,.charts_group li:nth-of-type(10) em{color:#fc5e5e;}
.charts_group li:nth-of-type(1) em,.charts_group li:nth-of-type(2) em,.charts_group li:nth-of-type(3) em{top:20px;}
/*.charts_group li:nth-of-type(9) em{color:#4ca6e6;}
.charts_group li.on{height: 93px;padding-top: 61px;}*/
.charts_group li.on:after{content: '';background: url(../images/canvas_none.jpg) no-repeat;width: 52px;height: 52px;background-size: contain;position: absolute;left:50%;margin-left: -26px;top:0;}
.charts_group li.on canvas,.charts_group li.on em{opacity: 0;}

.list_ul{display: block;}
.list_ul li{padding:20px 15px;background-color: #fff;}
.list_ul li *{display: inline-block;}
.list_ul li b{font-size:22px;color: #333;margin-right: 10px;}
.list_ul li i{background-color:#78d623;color: #fff;padding:2px 4px;border-radius: 4px;font-size: 12px;position: relative;top:-3px;}
.list_ul li i.red{background-color:#fc5e5e;}
.list_ul li span{float: right;position: relative;top:8px;color: #999;font-size:12px;}

.list_ul_shouhuan{display: block;padding:0;font-size: 14px;color: #333;}
.list_ul_shouhuan li{padding:10px 0;background-color: #fff;display: block;clear: both;height: auto;overflow: hidden;line-height: 26px;}
.list_ul_shouhuan span{width: 65%;float: left;display: inline-block;height: 55px;padding-left: 15px;position: relative;}
.list_ul_shouhuan span.br{width: 35%;}
.list_ul_shouhuan i{background-color:#78d623;color: #fff;padding:2px 4px;border-radius: 4px;font-size: 12px;position: relative;top:-3px;}
.list_ul_shouhuan i.red{background-color:#fc5e5e;}
.list_ul_shouhuan b{position: absolute;right:10px;top:50%;font-size: 12px;color: #999;line-height: 14px;margin-top: -7px;}

.tizhi_tit{display: block;color: #666;font-size:14px;padding:10px;background-color: #f5f5f5;text-align: left;background-image: url(../images/solid_t.png);background-repeat: repeat-x;background-position: top;background-size: 1px auto;}
.tizhi_tit:nth-of-type(1){background-image: none;}
.tizhi_tit i{float: right;}
.tizhi_data{display: block;clear: both;background-color: #fff;text-align: left;height: auto;overflow: hidden;}
/*.tizhi_data:nth-of-type(1){margin-bottom: -5px;}*/
.tizhi_data li{display: block;background-image: url(../images/solid_t.png);background-repeat: repeat-x;background-position: top;background-size: 1px auto;width: 50%;float: left;height:84px;padding: 15px;position: relative;font-size: 14px;color: #333;}
.tizhi_data li:nth-of-type(3),.tizhi_data li:nth-of-type(4){padding-top: 21px;}
.tizhi_data li:nth-child(odd):after{content:"";width:1px;height:54px;background-image: url(../images/solid_r.png);background-repeat: repeat-y;background-position: right;background-size: 1px auto;position: absolute;right:0;top:15px;}
.tizhi_data li b{font-size: 15px;}
.tizhi_data li em{font-size: 10px;color: #999;display: inline-block;margin-left: 5px;}
.tizhi_data li i{font-size: 12px;color: #999;display: block;padding:2px 0;}

.report_inf{display: block;clear: both;margin-bottom: 10px;text-align: left;}
.report_inf h4{background-color: #f5f5f5;font-size: 12px;color: #999;padding:10px;}
.report_data{background-color: #fff;}
.data_tip{background-color: #fff;padding:10px;color: #999;font-size: 13px;}
.report_data{display: block;padding:20px 10px;color: #666;}
.report_data *{display: inline-block;}
.report_data i{float: right;padding-right: 18px;background: url(../images/data_tip.png) no-repeat right center;background-size: 12px 12px;color:#78d623;font-size: 14px;position: relative;top:2px;}
.report_data i.red{color:#fc5e5e;}
.report_data span{margin-right: 6px;font-size: 12px;}
.report_data span b{font-size: 14px;margin-left: 2px;}
.report_data span b.big{font-size: 18px;}
.report_data span em{margin-left: 2px;}

.suggest_inf{display: block;margin-bottom: 10px;background-color: #fff;}
.suggest_inf h4{font-size: 15px;color: #666;padding:10px;}
.suggest_inf p{padding:10px;font-size: 13px;color: #666;line-height: 20px;}
.suggest_inf .charts_group{padding-bottom:20px;height: auto;overflow: hidden;}

.more_data{display:none;margin:0 10px 20px;height:42px;line-height: 42px;color:#fff;background-color: #46e2a5;border-radius:20px;text-align: center;font-size: 14px;}

.shouhuan_tit{display: block;color: #666;font-size:14px;padding:10px;background-color: #f5f5f5;text-align: left;}
.shouhuan_data{background-color: #fff;height: auto;overflow: hidden;}
.shouhuan_data li{width: 50%;float: left;padding:15px 0 10px;text-align: center;position: relative;}
.sh_txt{text-align: left;margin:10px 0 0 0;line-height: 20px;color: #666;font-size: 12px;padding:10px 10px 0;position: relative;}
.shouhuan_data li:nth-child(odd) .sh_txt:after{content:"";width:1px;height:54px;background-image: url(../images/solid_r.png);background-repeat: repeat-y;background-position: right;background-size: 1px auto;position: absolute;right:0;top:15px;}
.shouhuan_data li i{position: absolute;left:10px;top:10px;}
.shouhuan_data li canvas{margin: 0 auto;}
.shouhuan_data li em{color: #5b5b65;font-size: 20px;position: absolute;left:50%;margin-left: -40px;top:55px;width:80px;line-height:16px;text-align: center;color: #666;}
.shouhuan_data li em b{font-size: 9px;color: #a4aabb;}

.mb0{margin-bottom: 0;}
.sport_inf{background-color: #fff;text-align: center;padding:20px 0 0;position: relative;}
.sport_data_group{margin-bottom: 10px;height: 320px;padding:10px 0 0;}
.sport_data{position:absolute;left:0;top:20px;z-index: 5;width: 100%;background-color: #fff;}
.sport_data canvas{margin-bottom: 60px;}
.sport_data .cavs_txt{display: block;position: absolute;left:50%;width: 136px;margin-left: -68px;top:30px;font-size: 18px;color: #666;}
.sport_data:nth-of-type(1){z-index: 6;}
.sport_data:nth-of-type(2) .cavs_txt{top: 25px;}
.sport_data em *{display: block;font-size: 9px;color: #999;}
.sport_txt{display: block;clear: both;text-align: left;padding-bottom: 10px;margin-top: 46px;}
.sport_txt li{display: block;margin:15px 10px;padding:0 80px 0 30px;position: relative;font-size: 10px;color: #999;}
.sport_txt li b{position: absolute;left:0;top:0;color: #666;font-size: 12px;}
.sport_txt li i{position: absolute;right:0;top:0;text-align: left;width: 70px;}
.sport_txt li span{display: block;width: 100%; height:14px;background-color: #f5f5f5;border-radius: 10px;position: relative;top:2px;}
.sport_txt li span em{position: absolute;left:0;top:0;border-radius: 10px;background-color: #56e3b2;text-align: right;color: #fff;padding-right: 5px;height: 14px;line-height: 14px;}
.sleep_txt{clear: both;display: block;margin-top:46px;}
.sleep_txt li{padding:15px 10px;text-align: center;clear: both;display: block;font-size: 13px;color: #666;height: auto;overflow: hidden;}
.sleep_txt li span{display: inline-block;float: left;width: 33.33%}
.sleep_txt li span:nth-of-type(1){text-align: left;}
.sleep_txt li span:nth-of-type(3){text-align: right;}
.sport_bar{display: block;color: #999;font-size: 14px; width: 150px;margin: 0 auto;height: 60px;line-height: 60px;text-align:left;position: absolute;left:50%;margin-left: -75px;top:160px;z-index: 10;}
.sport_bar b{width: 50%;float: left;position: relative;transition:all .2s ease;-webkit-transition:all .2s ease;}
.sport_bar b:after{content:"";width: 70px;height: 60px;position: absolute;top:0;overflow: hidden;}
.sport_bar b:nth-child(1):after{right:0;background: url(../images/bar1.png) right no-repeat;background-size: 35px auto;}
.sport_bar b:nth-child(2):after{left:0;background: url(../images/bar2.png) left no-repeat;background-size: 35px auto;}
.sport_bar b:nth-child(1).on:after{right:0;background: url(../images/bar1_on.png) right no-repeat;background-size: 35px auto;}
.sport_bar b:nth-child(2).on:after{left:0;background: url(../images/bar2_on.png) left no-repeat;background-size: 35px auto;}
.sport_bar b:nth-child(2){text-align: right;}
.sport_bar b.on{color: #666;}
.gChart{height: 110px;width: 110px;margin: 0 0 0 25px; position: absolute;left: 50%;margin-left: -55px;}
.gChart2{height: 110px;width: 110px; position: relative;}
.pos {position: relative;}
.pos p{position: absolute; left: 0;top: 35px;right: 0px;text-align: center;color: #5b5b65;font-size:24px; line-height: 22px;}
.pos p span{color: #a4aabb;font-size: 12px;display: block;}
/*.sport_inf canvas{-webkit-transform:rotate(45deg);transform:rotate(45deg);}*/
.gChart2{width: 90%;}
.before:before{content: attr(data-before);font-size: 14px;color: #5b5b65;position: absolute; top: 0px;left: 10px;}
.after:after{content: attr(data-after);font-size: 14px;color: #5b5b65;position: absolute; top: 0;left: 10px;}
.afterc,.beforec{font-size: 14px; padding-right: 8px;}
.pr5{padding-right: 5px;}
.pj li{padding: 10px 0;}
.chart{padding-right: 10px;background-color: #fff;}
span.p0{padding: 0;}

/* .test_des{font-size: 15px;text-align: center;color:#333;padding:15px;}
.test_des p{font-size: 12px;color:#666;line-height: 18px;text-align: left;padding-top: 10px;} */
.test_des{font-size: 15px;text-align: center;color:#333;padding:15px;}
.test_des p{font-size: 12px;color:#666;line-height: 18px;text-align: left;padding-top: 10px;}
.test_des h3{font-size: 20px;text-align: left;margin:30px 0 10px;}
.test_des h3 b{display: inline-block;margin-left: 15px;font-size: 13px;color:#fff;padding:0 8px;border-radius: 20px;padding-right: 30px;position: relative;height: 27px;line-height: 27px;}
.test_des h3.s1{color:#34A02C;}
.test_des h3.s2{color:#FE7B40;}
.test_des h3.s3{color:#FE7B40;}
.test_des h3.s1 b{background:#34A02C;}
.test_des h3.s2 b{background:#FE7B40;}
.test_des h3.s3 b{background:#FE7B40;}
.test_des h3 b:after{content: "";position: absolute;right:1px;top:1px;width: 25px;height: 25px;display: block;}
.test_des h3.s1 b:after{background: url(../images/ico_s1.png) no-repeat center;background-size: cover;}
.test_des h3.s2 b:after{background: url(../images/ico_s2.png) no-repeat center;background-size: cover;}
.test_des h3.s3 b:after{background: url(../images/ico_s3.png) no-repeat center;background-size: cover;}
.des_cont{text-align: left;padding:10px 0;line-height: 20px;font-size: 13px;color:#666;}