.pay_input{
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        width: 1.2em;
        height: 1.2em;
        outline:none;
        font-family: inherit;
        font-size: 2em;
        font-weight: inherit;
        text-align: center;
        line-height: 45px;
        color: #c2c2c2;
        background: rgba(255,255,255,0);
}