<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.group.mapper.GroupUserMapper">


    <!-- 请在此添加自定义方法（开始） -->

    <!-- 请在此添加自定义方法（结束） -->
    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( userId )">
                AND user_id = #{userId}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( groupId )">
                AND group_id = #{groupId}
            </if>
        </where>
    </sql>

    <insert id="bacthAdd">
        INSERT INTO group_user (group_id, user_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.groupId},#{item.userId})
        </foreach>
    </insert>

</mapper>