<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.path.mapper.PathUserMapper">

 
	
	<!-- 请在此添加自定义方法（开始） -->

	<!-- 请在此添加自定义方法（结束） -->
	<sql id="Model_Where_Clause">
	<where>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
				AND id = #{id}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( userid )">
				AND userId = #{userid}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( sportid )">
				AND sportId = #{sportid}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( points )">
				AND points = #{points}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( start )">
				AND start = #{start}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( end )">
				AND end = #{end}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( name )">
				AND name = #{name}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( kilometer )">
				AND kilometer = #{kilometer}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( time )">
				AND time = #{time}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( altitude )">
				AND altitude = #{altitude}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( height )">
				AND height = #{height}
			</if>
			<if test="@org.mybatis.util.Ognl@isNotEmpty( speed )">
				AND speed = #{speed}
			</if>
		</where>
	 </sql>
</mapper>