<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
<meta http-equiv="Expires" CONTENT="0">
<meta http-equiv="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Pragma" CONTENT="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="./common/plugs/bootstrap-3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./common/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./common/css/animate.min.css"/>
    <link rel="stylesheet" href="./common/plugs/layer/skin/layer.css"/>
    <link rel="stylesheet" href="./common/css/style.min.css"/>
    <link rel="stylesheet" href="./common/css/login.min.css"/>
    <title>登录</title>
  </head>
  <body>
  	  <div class="navbar navbar-inverse navbar-fixed-top">
  	  	 <div class="container">
			  	  	 	
  	  	 </div>
  	  </div>
      <div class="signin">
      	  <div class="signinpanel">
			      <div>
			        <div class="col-xs-16 col-sm-16 col-md-16">
			        </div>
			        <div class="col-xs-8 col-sm-8 col-md-8">
			          <form id="loginForm" autocomplete="off">
			            <div class="login_box">
			            	<h4 class="no-margins">用户登录</h4>
			            	<em class="name"></em>
				            <input type="text" name="userName" placeholder="用户名" class="form-control uname" maxlength="11">
				            <em class="pwd"></em>
				            <input type="password" name="userPwd" placeholder="请输入密码" class="form-control pword m-b">
				            <div class="check">
				            	<i index="0">记住用户名</i>
				            </div>
				            <button id="loginBtn" type="button" href="main.html" class="btn btn-success btn-block">登录</button>
			            </div>
			           
			          </form>
			        </div>
			      </div>
			    </div>
			    <div id="loginError" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade text-muted">
			      <div class="modal-dialog">
			        <div class="modal-content">
			          <div class="modal-header">
			            <button data-dismiss="modal" aria-hidden="true" type="button" class="close">&times;</button>
			            <h4 class="modal-title">提示</h4>
			          </div>
			          <div class="modal-body">
			            <h4>登录错误！ <span id="errInfo"></span></h4>
			          </div>
			        </div>
			      </div>
			    </div>
      </div>
  </body>
</html>
<script src="common/js/jquery-2.1.1.min.js?rev=6631a779321bc03f4a5281d3ff526254"></script>
<script src="common/plugs/bootstrap-3.3.5/js/bootstrap.min.js?rev=4becdc9104623e891fbb9d38bba01be4"></script>
<script src="common/js/jquery.values.js"></script>
<script src="common/js/jquery.cookie.js"></script>
<script src="./common/js/URL.js"></script>
<script src="js/login.js"></script>
