<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.user.mapper.UserMapper">
    <update id="updateFansCount">
        UPDATE user
        SET fans_count = (
            SELECT count(id)
            FROM concern
            WHERE friendId = #{freindId}
        )
        WHERE id = #{freindId}
    </update>
    <update id="updateFriendCount">
        UPDATE user
        SET friend_count = (
            SELECT count(id)
            FROM concern
            WHERE userId = #{userId}
        )
        WHERE id = #{userId}
    </update>


    <select id="findByMobileAndPassword" resultType="com.ontheroad.user.model.UserModel">
        SELECT
        <include refid="fileds"/>
        FROM user
        WHERE mobile = #{mobile} AND password = #{password}
        AND is_enable = TRUE
    </select>

    <select id="getUserByMobile" resultType="com.ontheroad.user.model.UserModel">
        SELECT
        <include refid="fileds"/>
        FROM user
        WHERE mobile = #{mobile}
        AND is_enable = TRUE
    </select>

    <select id="getSportTimes" resultType="java.lang.Integer">
        SELECT count(id)
        FROM sport
        WHERE userId = #{userId}
    </select>

    <select id="getUnReadMsgCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM concern_msg
        WHERE
            user_id = #{userId} AND
            is_read = FALSE
    </select>

    <select id="getUserByIds" resultType="com.ontheroad.user.model.UserModel">
        SELECT
        <include refid="fileds"/>
        FROM user WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getLikeListByCircleId" resultType="com.ontheroad.user.model.UserModel">
        SELECT
        <include refid="fileds"/>
        FROM circle_like
        LEFT JOIN user ON user_id = user.id
        WHERE circle_id = #{circleId}
        group by user.id
    </select>

    <sql id="fileds">
        user.id,
        name,
        mobile,
        password,
        nick,
        pic,
        intro,
        age,
        sex,
        address,
        create_time    createTime,
        login_time     loninTime,
        phone_model    phoneModel,
        system_version systemVersion,
        app_version    appVersion,
        is_enable      isEnable,
        fans_count     fansCount,
        friend_count   friendCount
    </sql>

    <sql id="Model_Where_Clause">
        <where>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( id )">
                AND id = #{id}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( name )">
                AND name = #{name}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( mobile )">
                AND mobile = #{mobile}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( notMobile )">
                AND mobile != #{notMobile}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( password )">
                AND password = #{password}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( nick )">
                AND nick = #{nick}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( pic )">
                AND pic = #{pic}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( intro )">
                AND intro = #{intro}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( age )">
                AND age = #{age}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( sex )">
                AND sex = #{sex}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( address )">
                AND address = #{address}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( createTime )">
                AND create_time = #{createTime}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( loginTime )">
                AND login_time = #{loginTime}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( phoneModel )">
                AND phone_model = #{phoneModel}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( systemVersion )">
                AND system_version = #{systemVersion}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( appVersion )">
                AND app_version = #{appVersion}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( isEnable )">
                AND is_enable = #{isEnable}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( fansCount )">
                AND fans_count = #{fansCount}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( friendCount )">
                AND friend_count = #{friendCount}
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( createTimeStart )">
                AND  <![CDATA[create_time >= date_format(#{createTimeStart},'%Y-%c-%d %H:%i:%S')    ]]>
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( createTimeEnd )">
                AND  <![CDATA[create_time <= date_format(#{createTimeEnd}||'23:59:59' ,'%Y-%c-%d %H:%i:%S')   ]]>
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( loginTimeStart )">
                AND  <![CDATA[login_time >= date_format(#{loginTimeStart},'%Y-%c-%d %H:%i:%S')    ]]>
            </if>
            <if test="@org.mybatis.util.Ognl@isNotEmpty( loginTimeEnd )">
                AND  <![CDATA[login_time <= date_format(#{loginTimeEnd},'%Y-%c-%d %H:%i:%S')    ]]>
            </if>
        </where>
    </sql>
</mapper>