<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.Mapper.AppMapper.AppMapper">

    <select id="getUpdate" resultType="com.ontheroad.pojo.AppUpdate">
        select * from tb_appupdate
        ORDER BY id desc LIMIT 1;
    </select>
</mapper>