<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.mysql.Mapper.AppMapper.FeedbackMapper">

    
   <insert id="insertFeedback"  parameterType="com.ontheroad.pojo.user.Feedback">
        insert INTO tb_feedback(user_id,createTime,content)
        values(#{user_id},#{createTime},#{content})
   </insert>
   
   
   
</mapper>