<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontheroad.dao.TbCustomerservicedetailsMapper">
  <resultMap id="BaseResultMap" type="com.ontheroad.entity.TbCustomerservicedetails">
    <id column="serviceDetail_id" jdbcType="INTEGER" property="servicedetailId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="personName" jdbcType="VARCHAR" property="personname" />
    <result column="personPhone" jdbcType="VARCHAR" property="personphone" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    serviceDetail_id, customer_id, equipment_id, user_id, time, personName, personPhone, 
    content
  </sql>
  <select id="selectByExample" parameterType="com.ontheroad.entity.TbCustomerservicedetailsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_customerservicedetails
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_customerservicedetails
    where serviceDetail_id = #{servicedetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_customerservicedetails
    where serviceDetail_id = #{servicedetailId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ontheroad.entity.TbCustomerservicedetailsExample">
    delete from tb_customerservicedetails
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ontheroad.entity.TbCustomerservicedetails">
    <selectKey keyProperty="customerId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_customerservicedetails (serviceDetail_idequipment_id, user_id, 
      time, personName, personPhone, 
      content)
    values (#{servicedetailId,jdbcType=INTEGER}#{equipmentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{personname,jdbcType=VARCHAR}, #{personphone,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ontheroad.entity.TbCustomerservicedetails">
    <selectKey keyProperty="customerId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_customerservicedetails
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="servicedetailId != null">
        serviceDetail_id,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="personname != null">
        personName,
      </if>
      <if test="personphone != null">
        personPhone,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="servicedetailId != null">
        #{servicedetailId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="personname != null">
        #{personname,jdbcType=VARCHAR},
      </if>
      <if test="personphone != null">
        #{personphone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ontheroad.entity.TbCustomerservicedetailsExample" resultType="java.lang.Integer">
    select count(*) from tb_customerservicedetails
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_customerservicedetails
    <set>
      <if test="record.servicedetailId != null">
        serviceDetail_id = #{record.servicedetailId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentId != null">
        equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.personname != null">
        personName = #{record.personname,jdbcType=VARCHAR},
      </if>
      <if test="record.personphone != null">
        personPhone = #{record.personphone,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_customerservicedetails
    set serviceDetail_id = #{record.servicedetailId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      time = #{record.time,jdbcType=TIMESTAMP},
      personName = #{record.personname,jdbcType=VARCHAR},
      personPhone = #{record.personphone,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ontheroad.entity.TbCustomerservicedetails">
    update tb_customerservicedetails
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="personname != null">
        personName = #{personname,jdbcType=VARCHAR},
      </if>
      <if test="personphone != null">
        personPhone = #{personphone,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where serviceDetail_id = #{servicedetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ontheroad.entity.TbCustomerservicedetails">
    update tb_customerservicedetails
    set customer_id = #{customerId,jdbcType=INTEGER},
      equipment_id = #{equipmentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      personName = #{personname,jdbcType=VARCHAR},
      personPhone = #{personphone,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where serviceDetail_id = #{servicedetailId,jdbcType=INTEGER}
  </update>
</mapper>